<div class="form_row">
  <%= f.text_field :email, :class => 'default_value'  %>
  <%= f.label :email, 'Email' %>
</div>
<div class="form_row">
  <%= f.password_field :password, :class => 'default_value'  %>
  <%= f.label :password, 'Password' %>
</div>
<div class="form_row">
  <%= f.check_box :remember_me, :checked => true %>
  <%= f.label :remember_me, 'Remember me. I come here often.' %>
</div>