<% title 'Forgot your password?' %>

<div id="main">
  <div id="page_container">

    <%= render :partial => 'shared/flashes' %>

    <div id="forgot_section">
      <h1 class="arial20_bold_green signup_banner">Recover your password</h1>
      <hr size="3" noshade />
      <h2>Forgot your password?</h2>
      <hr size="1" noshade />

      <p>
        That's ok. It happens to all of us.<br/>
        Submit your registered e-mail address and we'll send you simple <br/>
        instructions for getting logged in.
      </p>

      <% form_tag :action => 'forgot' do %>

        <%= text_field_tag :email, '', :style => 'margin-bottom: 10px;' %>
        <%= label_tag :email, 'E-mail'%>

        <hr size="3" noshade />
        <%= submit_tag 'Submit', :class => 'button_confirm' %>
        <%= link_to "Need More help? Email help@yogatoday.com", 'mailto:help@yogatoay.com', :class => 'underline' %>

        <hr size="1" noshade />
      <% end %>
    </div>

    <%= render :partial => "sessions/login" %>

  </div>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#email ~ label").css('display', 'none');
    $("#email").defaultValue('E-mail address');
  });
</script>