<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag 'email' %>
  </head>
  <body>
    <div class="container">
      <%= render :partial => 'header', :locals => {:header_title => 'Password Reset Confirmation'} %>
      <div id="main">

        <p>Hello <%= @reset.user.name || @reset.user.email %>,</p>

        <p>To reset your Yoga Today password, please click on the link below or copy and paste the address onto your web browser's address window.</p>

        <p>Once you're on the password reset Web page, you will be instructed to enter and confirm your new password.</p>

        <p><%= link_to reset_password_url(:token => @reset.token), reset_password_url(:token => @reset.token) %></p>

        <p>Please ignore this process if you have received this message in error or do not wish to reset your password at this time.</p>

        <p><b>Please do not reply to this email.</b></p>
        <p>For more information about your account, please visit <%= link_to faqs_url, faqs_url%><br/>
        If you require further assistance, please contact <%= mail_to("support@yogatoday.com") %><br/></p>

        <p>Thanks for contacting Yoga Today.</p>

        <p><%= link_to root_url.sub('http:', '').gsub('/', ''), root_url %></p>
      </div>

      <%= render :partial => 'footer', :locals => {:follow => 'true'} %>
    </div>
  </body>
</html>


