<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <div class="container">
      <%= render :partial => '/shared/email_header' %>
      <div id="main">

        <p>Hello <%= @user.name || @user.email %>,</p>

        <p>Your Yoga Today password has been successfully reset. You may now log in.</p>

        <p>For more information about your account, please visit <%= link_to faqs_url, faqs_url%><br/>
        If you require further assistance, please contact <%= mail_to("support@yogatoday.com") %><br/></p>

        <p>Thanks for being a part of the Yoga Today Community.</p>

        <p><%= link_to root_url.sub('http:', '').gsub('/', ''), root_url %></p>
      </div>
      <%= render :partial => 'footer', :locals => {:follow => true} %>
    </div>
  </body>
</html>