<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag 'email' %>
  </head>
  <body>
    <div class="container">
      <%= render :partial => 'header', :locals => {:header_title => 'Welcome to Yoga Today'} %>
      <div id="main">
        <p>Hello <%= @user.name %></p>

        <p>Welcome to the Yoga Today Community! Your <%= @user.account.subscription.subscription_plan.name %> Membership has been created and you now have on-line streaming access to our free weekly classes.</p>

        <p>Be sure to visit your Profile page to upload a photo so that other members will recognize you when you rate, review and discuss classes.</p>

        <p>Classes added to your Yoga Queue will be saved for your return when you log out.</p>

        <p>Thanks and Love from everyone at Yoga Today:)</p>

        <p><%= link_to root_url.sub('http:', '').gsub('/', ''), root_url %></p>
      </div>
      <%= render :partial => 'footer', :locals => {:follow => 'true'} %>
    </div>
  </body>
</html>