<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <div class="container">
      <%= render :partial => '/shared/email_header', :locals => {:header_title => 'Welcome to Yoga Today'} %>
      <div id="main">
        <p>Hello <%= @user.name %></p>
        <br />
        <p>Welcome to the Yoga Today Community! We’re pleased to inform you that your subscription has been successfully processed and you now have unlimited streaming access to the Yoga Today Library. As an Unlimited Member, you also qualify for our special subscriber’s rate of $2.99 for downloaded classes.</p>
        <br />
        <p>Be sure to visit your page to create an avatar so that other members will recognize you when you rate, review and discuss classes.</p>
        <br />
        <p>Classes added to your Yoga Queue will be saved for your return when you log out. to begin practicing with us right away!</p>
        <br />
        <p>Thanks and Love from everyone at Yoga Today:)</p>
        <br />
        <p>Order # <%= @user.account.subscription.id %></p>
        <p>Name: <%= @user.name %></p>
        <p>Order Date: <%= Time.now.strftime "%m/%d/%Y" %></p>
        <% if @user.last_payment %>
          <p>Credit Card Number: <%= @user.last_payment.get_card_number %></p>
          <p>Amount Charged: <%= <%= number_to_currency(@user.last_payment.amount) %></p>
        <% end %>
        <br />
        <p><%= display_membership_price %> is scheduled to be debited from your card ending in <%= @user.last_payment.get_card_number(4) %> on <%= @user.account.subscription.next_renewal_at.strftime("%m/%d/%Y") %>.</p>
        <br />
        <% if @user.account.subscription.subscription_plan.is_trial? %>
          <p>Your card will not be charged until your two-week free trial has expired.</p>
          <br />
          <% if current_user.account.subscription.subscription_plan.renewal_period == 12 %>
            <p>Billing recurs automatically for annual memberships.</p>
            <br />
          <% end %>
          <p>Cancel anytime on or before <%= @user.account.subscription.next_renewal_at.strftime("%m/%d/%Y") %> and you will not be billed.</p>
          <br />
        <% end %>
        <p>To Cancel, click "Profile", “Cancel Membership.</p>
        <br />
        <p>Membership Terms:</p>
        <br />
        <p>Billing occurs automatically at the beginning of each period and your next payment is scheduled to be debited on <%= @user.account.subscription.next_renewal_at.strftime("%A, %e %B %Y") %>. You may cancel at any time by visiting http://www.yogatoday.com, logging into your account, clicking on “My Profile” and selecting “Cancel Membership.” Sorry, no refunds can be offered for partial months.</p>
        <br />
        <p>For details about the Yoga Today Terms of Service, visit http://www.yogatoday.com/terms-and-conditions</p>
        <br />
        <p>Our privacy policy can be accessed at http://www.yogatoday.com/privacy-policy</p>
        <br />
        <p>This email was sent to you as part of your Yoga Today membership. If you would like to stop receiving these emails please visit your Profile page, uncheck “Yes, send me news from YogaToday.com,” and save your changes.</p>
        <p>Please do not reply to this email.</p>
        <br />
        <p>For more information about your account, please visit http://www.yogatoday.com/faqs</p>
        <br />
        <p>If you require further assistance, please contact support@yogatoday.com</p>
        <br />
        <p><%= link_to root_url.sub('http:', '').gsub('/', ''), root_url %></p>
      </div>

      <%= render :partial => 'footer',
        :locals => { :follow => true, :tos => true, :privacy => true, :unsubscribe => true, :no_reply => true } %>
    </div>
  </body>
</html>
