<div id="ambassador_profile_widget" class="program">

  <% if current_user.ambassador_name.nil? %>
    <p class="header">Ambassador Program <%= link_to 'Learn More', ambassador_tools_help_user_path(current_user) %></p>
    <img class="greeting" src="/images/ambassador_greeting.png" />

    <div class="introduction">
      <p>Choose an Ambassador ID to share with others. Then use our Ambassador Tools to invite your friends to subscribe. Each Referral that becomes a prepaid subscriber earns you a point and a free month Unlimited Membership.</p>
      <% form_for current_user do |f| -%>
        <fieldset>
          <legend><span>Choose your Ambassador ID</span></legend>
         <label>
            <%= f.text_field :ambassador_name %>
          </label>
          <%= submit_tag 'Continue', :class => 'submit' %>
        </fieldset>
        <% # TODO: Need to pass a param so that a failed update returns to the containing page -%>
      <% end %>
    </div>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("#user_ambassador_name").defaultValue('hint: keep it simple...');
      });
    </script>
  <% end %>

  <% # TODO When does this appear? After submission? %>
  <% if false && current_user.ambassador_name %>
    <div class="confirm" style="">
      <div class="ambassador_agent_id"><span><%= current_user.ambassador_name %></span></div>
      <p>Please confirm your Ambassador ID. This will be your permanent ID that is shared with others when you invite them to the Yoga Today community.</p>
      <fieldset>
        <legend><span><a href="#">make a change</a></span></legend>
        <label><input type="submit" value="Confirm"></input></label>
      </fieldset>
    </div>
  <% end %>
</div>

<% if current_user.ambassador_name %>
  <div id="ambassador_profile_widget" class="tools">
    <p class="header">Ambassador Tools <span>Quick-view</span> <%= link_to 'Learn More', ambassador_tools_help_user_path(current_user) %></p>
    <div class="ambassador_agent_id">
      <span><%= current_user.ambassador_name %></span>
    </div>

    <div class="stats">

    <table>
      <tr>
        <td>Invitations</td>
        <td class="count"><%= current_user.invitations_count %></td>
      </tr>
      <tr>
        <td>Successful Referrals</td>
        <td class="count"><%= current_user.successful_referrals_count %></td>
      </tr>
      <tr>
        <td>Points Earned</td>
        <td class="count"><%= current_user.points_earned %></td>
      </tr>
      <tr class="last">
        <td>Points Used</td>
        <td class="count"><%= current_user.points_used %></td>
      </tr>
      </table>

      <div class="points">
        <span class="header">My Points</span>
        <span class="count"><%= current_user.points_current %></span>
      </div>

    </div>

    <% form_tag ambassador_tools_widget_invite_by_email_user_path(current_user) do %>
      <fieldset class="invitation">
        <legend><span>E-mail an invitation to:</span></legend>
        <label><%= text_field_tag :recipients %></label>
        <%= submit_tag 'Continue', :class => "submit" %>
      </fieldset>
    <% end %>

    <div class="share">
      <span class="header">Share your invitation:</span>
      <span class="blocks"><a class="a2a_dd" href="http://www.addtoany.com/share_save"><%= image_tag 'ambassador_share_widget.png' %></a></span>
    </div>

    <span class="help"><a href="#">Help</a></span>

  </div>
<% end %>

<% content_for :javascript_content do %>
  <% if current_user.share_url %>
    <script type="text/javascript">
      a2a_config.linkname = 'Sign up for YogaToday and save!';
      a2a_config.linkurl = '<%= current_user.share_url.url -%>';
      a2a_config.templates = {
        twitter: "Sign up for YogaToday and save! <%= current_user.share_url.url %>"
      }
      a2a.init('page');
    </script>
  <% end %>
<% end %>