<ul id="ambassador_tools_navigation">
  <li class="active"><%= link_to 'Invite by E-mail', ambassador_tools_invite_by_email_user_path(current_user) %></li>
  <li><%= link_to 'Invite by Sharing', ambassador_tools_invite_by_sharing_user_path(current_user) %></li>
  <li><%= link_to 'My Invitations', ambassador_tools_my_invitations_user_path(current_user) %></li>
  <li><%= link_to 'My Rewards', ambassador_tools_my_rewards_user_path(current_user) %></li>
  <li><%= link_to 'Help', ambassador_tools_help_user_path(current_user) %></li>
</ul>
