<% title 'Your Profile' %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Profile</div>
    </div>
  </div>

  <div id="main_content">
    <div class="flash" style="text-align: center;"><%= flash[:user_notice]%></div>
    <div id="container_4col" class="ambassador_pages" style="float:left;">
      <div id="ambassador_tools">

        <%= render :partial => 'users/ambassador_tools/navigation' %>

        <div class="tools_container">

          <h2 class="header">Send a Yoga Today Ambassador e-mail invitation</h2>

          <%= error_messages_for :ambassador_invite, :id => "warning",
            :header_message => "There were problems with your invitation."
          %>

          <% form_for :ambassador_invite, @ambassador_invite, :url => ambassador_invites_path do |f| %>
            <fieldset class="invitation">
              <label>
                Email an invitation to:
                <%= f.text_field :recipients %>
                <span class="tip">Use a comma (,) to separate multiple addresses</span>
              </label>

              <label>
                From:
                <%= f.text_field :from %>
                <span class="tip">Tip: To avoid being blocked as spam, use the address your friends know</span>
              </label>

              <label>
                Subject:
                <%= f.text_field :subject %>
              </label>

              <label class="message">
                Your Message:
                <%= f.text_area :body %>
              </label>

              <label class="default">
                <%= f.check_box :is_default_body_for_user %>  Save this as my default invitation message
              </label>

              <label class="instruction">Yoga Today will automatically add your Ambassador ID and instructions to this e-mail.</label>

            </fieldset>

            <div class="actions">
              <%= link_to_function image_tag('profile_tools_button_preview.png'), 'preview_email()', :class => 'preview', :id => 'preview' %>
              <%= image_submit_tag 'profile_tools_button_send-invitation.png', :class => 'send', :id => 'send' %>
              <%= link_to 'Cancel', profile_user_path(current_user), :class => 'cancel' -%>
            </div>
          <% end %>

        </div>

      </div>
    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'users/profile_sidebar' %>
      <%= render :partial => 'users/shared/ambassador_profile_widget' %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  function preview_email() {
    jQuery.fn.colorbox({href:"<%= ambassador_tools_preview_email_user_path(current_user) %>?message=" + escape(jQuery('#ambassador_invite_body').val()) });
  }
</script>