<% title 'Your Profile' %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">My Profile: Ambassador Tools</div>
    </div>
  </div>

  <div id="main_content">
    <div class="flash" style="text-align: center;"><%= flash[:user_notice]%></div>
    <div id="container_4col" class="ambassador_pages" style="float:left;">
      <div id="ambassador_tools">

        <%= render :partial => 'users/ambassador_tools/navigation' %>

        <div class="tools_container">

          <h2 class="header">Share your Yoga Today Ambassador Invitation</h2>

          <ul class="invitation_networks">
            <li>
              <%= link_to(image_tag("ambassador_sharing_preview_facebook.png", :class => 'network'), social_share_url(current_user.share_url.destination, :facebook), {:target => '_blank'}) -%>
              <%= link_to("Facebook", social_share_url(current_user.share_url.destination, :facebook), {:class => 'network', :target => '_blank'}) -%>
              <p>Post an invitation to your Facebook profile. For each friend that begins a prepaid subscription following your invitation, you'll earn 1 point and a month of Yoga Today free!</p>
              <%= link_to(image_tag("ambassador_sharing_button_facebook.png"), social_share_url(current_user.share_url.destination, :facebook), :class => 'network_button', :target => '_blank') -%>
            </li>
            <li>
              <%= link_to(image_tag('ambassador_sharing_preview_twitter.png', :class => 'network'), "http://twitter.com/home?status=Check it out! One of my favorite sites, @YogaToday, is offering a FREE two-week trial when you visit: #{current_user.share_url.url}", :target => '_blank') %>
              <%= link_to 'Twitter', "http://twitter.com/home?status=Check it out! One of my favorite sites, Yoga Today, is offering a FREE two-week trial when you visit: #{current_user.share_url.url}", :class => 'network', :target => '_blank' %>
              <p>Use our default Invitation or Tweet in your own words. Be sure to keep the special link in your post so you can earn points for each follower that becomes a prepaid subscriber.</p>
              <%= link_to image_tag('/images/ambassador_sharing_button_twitter.png'), "http://twitter.com/home?status=Check it out! One of my favorite sites, @YogaToday, is offering a FREE two-week trial when you visit: #{current_user.share_url.url}", :class => 'network_button', :target => '_blank' %>
            </li>
            <li>
              <%= link_to(image_tag("ambassador_sharing_preview_delicious.png", :class => 'network'), social_share_url(current_user.share_url.url, :delicious), :target => '_blank') -%>
              <%= link_to("Del.icio.us", social_share_url(current_user.share_url.url, :delicious), :class => 'network', :target => '_blank') -%>
              <p>Your Ambassador invitation makes a fresh bookmark. Share your invitation with del.icio.us and earn points when members of the del.icio.us network begin a prepaid subscription following your special bookmark.</p>
              <%= link_to(image_tag("ambassador_sharing_button_delicious.png"), social_share_url(current_user.share_url.url, :delicious), :class => 'network_button', :target => '_blank') -%>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'profile_sidebar' %>
      <%= render :partial => 'users/shared/ambassador_profile_widget' %>
    </div>
  </div>
</div>