<% title 'Your Profile' %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Profile</div>
    </div>
  </div>

  <div id="main_content">
    <div class="flash" style="text-align: center;"><%= flash[:user_notice]%></div>
    <div id="container_4col" class="ambassador_pages" style="float:left;">
      <div id="ambassador_tools">

        <ul id="ambassador_tools_navigation">
          <li class="active"><a href="#">Invite by E-mail</a></li>
          <li><a href="#">Invite by Sharing</a></li>
          <li><a href="#">My Invitations</a></li>
          <li><a href="#">My Rewards</a></li>
          <li><a href="#">Help</a></li>
        </ul>

        <div class="tools_container">

          <h2 class="header">Send a Yoga Today Ambassador e-mail invitation</h2>

          <% form_for :ambassador_invite, @ambassador_invite, :url => ambassador_invites_path do |f| %>
            <fieldset class="invitation">
              <label>
                Email an invitation to:
                <%= f.text_field :recipients %>
                <span class="tip">Use a comma (,) to separate multiple addresses</span>
              </label>

              <label>
                From:
                <%= f.text_field :from %>
                <span class="tip">Tip: To avoid being blocked as spam, use the address your friends know</span>
              </label>

              <label>
                Subject:
                <%= f.text_field :subject %>
              </label>

              <label class="message">
                Your Message:
                <%= f.text_area :body %>
              </label>

              <label class="default">
                <%= f.check_box :is_default_body_for_user %>  Save this as my default invitation message
              </label>

              <label class="instruction">Yoga Today will automatically add your Ambassador ID and instructions to this e-mail.</label>

            </fieldset>

            <div class="actions">
              <%= submit_tag 'Preview', :class => 'preview', :id => 'preview' %>
              <%= submit_tag 'Send Invitation', :class => 'send', :id => 'send' %>
              <%= button_to 'Cancel', profile_user_path(current_user), :class => 'cancel' -%>
            </div>
          <% end %>

        </div>

      </div>
    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'profile_sidebar' %>
      <%= render :partial => 'users/shared/ambassador_profile_widget' %>
    </div>
  </div>
</div>