<% title 'Your Profile' %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Profile</div>
    </div>
  </div>

  <div id="main_content">
    <div class="flash" style="text-align: center;"><%= flash[:user_notice]%></div>
    <div id="container_4col" style="float:left;">
      <div id="ambassador_tools">

        <%= render :partial => 'users/ambassador_tools/navigation' %>

        <div class="tools_container">
          <h2 class="header">Keep track of your invitations</h2>

          <div class="track_invitations">
            <h3>E-mail Invitations (<%= current_user.invitations_count %>) <%= link_to 'Send an invitation', ambassador_tools_invite_by_email_user_path(current_user) %></h3>
            <% if current_user.invitations_count > 0 -%>
            <div class="table">
              <ul>
                <% @ambassador_invites.each do |ambassador_invite| %>
                  <li><span class="name"><%= ambassador_invite.recipients %></span> <span class="date"><%= ambassador_invite.created_at.strftime('%b %d, %Y') %></span></li>
                <% end %>
              </ul>
            </div>
            <% end -%>
          </div>
        </div>

      </div>
    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'profile_sidebar' %>
      <%= render :partial => 'users/shared/ambassador_profile_widget' %>
    </div>
  </div>
</div>