<% title 'Your Profile' %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Profile</div>
    </div>
  </div>

  <div id="main_content">
    <div class="flash" style="text-align: center;"><%= flash[:user_notice]%></div>
    <div id="container_4col" style="float:left;">
      <div id="ambassador_tools">

        <%= render :partial => 'users/ambassador_tools/navigation' %>

        <div class="tools_container">
          <h2 class="header">Keep track of your invitations</h2>
          Email Invitations (<%= current_user.invitations_count %>)
          <table>
            <% @ambassador_invites.each do |ambassador_invite| %>
              <tr><td><%= ambassador_invite.recipients %></td><td><%= ambassador_invite.created_at.strftime('%b %d, %Y') %></td></tr>
            <% end %>
          </table>
        </div>

      </div>
    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'profile_sidebar' %>
      <%= render :partial => 'users/shared/ambassador_profile_widget' %>
    </div>
  </div>
</div>