<% @date = Date.today %>
<div id="credit_card">
  <fieldset class="basic">
  <legend class="signup">Payment Information</legend>
  
  <%= select_tag 'creditcard[type]', credit_card_options_for_select(@creditcard.type), :id => 'creditcard_type', :style => "display:inline; vertical-align:top; margin:15px 0px 25px 0;" %>
  <%= image_tag "credit_cards2.png", :style => "display:inline; vertical-align:top; margin:10px 100px 25px 0;", :alt => "Credit Cards" %>

  <% fields_for :creditcard do |cc| %>
  <label for="creditcard[first_name]" class="column"> first name
    <%= cc.text_field :first_name, :size => 30, :onKeyDown => "limitText(this, 100);" %>
    </label>
    <label for="creditcard[last_name]" class="end_set"> last name
    <%= cc.text_field :last_name, :size => 30, :onKeyDown => "limitText(this, 100);" %>
  </label>

  <label class="column"> card number
    <%= cc.text_field :number, :size => 25, :onKeyDown => "limitText(this, 25);" %>
  </label>
  <label class="end_set"> CVV, CVV2
    <%= cc.text_field :verification_value, :size => 4, :onKeyDown => "limitText(this, 4);" %>
  </label>
  <label> expiration date
    <%= select_month(@date, :add_month_numbers => true, :prefix => 'creditcard',  :field_name => 'month') %>
  </label>
  <label class="expiration_year"> &nbsp;
    <%= select_year(@date.year, :start_year => Date.today.year, :end_year => 10.years.from_now.year, :prefix => 'creditcard',  :field_name => 'year') %>
  </label>

  <label class="checkbox">
    <%= f.check_box :agree_to_terms %>
    I agree to the Membership Terms and Details</label>
  </fieldset>
</div>

  <% end %>