<%= error_messages_for :user, :id => "warning",
      :header_message => "There were problems with your registration."
%>

<p class="title">Free Membership</p>
<p class="radio end_set"><%= radio_button_tag 'membership', 'free', @billing_cycle == 'free' %> Free. Enjoy Yoga Today's free weekly classes.</p>

<p class="title">Monthly Unlimited Membership</p>
<p class="radio end_set"><%= radio_button_tag 'membership', '1', @billing_cycle == '1' %> $9.99/month, recurring billing.</p>

<p class="title">Prepaid Unlimited Membership</p>
<p class="radio"><%= radio_button_tag 'membership', '12', @billing_cycle == '12' %> Yoga Today 365: A full year for just $89.95 - saves you 25%</p>
<p class="radio end_set">Spring Signup Special: Four months for $34.95 - saves you 13%</p>

<fieldset class="trial">
  <label>
    <span>2 Week Free Trial</span>
    Enter a valid Ambassador ID with your prepaid subscription and enjoy a 2 week free trial before your account is billed. Cancel any time.
    <input type="text"></input>
  </label>
  <input class="submit" type="submit" value="Enter"></input>
</fieldset>

<fieldset class="basic">
  
  <label class="end_set wide">
    screen name
    <%= f.text_field :name  %>
  </label>
  
  <label class="column">
    e-mail address
    <%= f.text_field :email  %>
  </label>
  
  <label>
    password
    <%= f.password_field :password %>
  </label>
  
  <label class="column">
    confirm e-mail address
    <%= f.text_field :email_confirmation%>
  </label>
  
  <label class="end_set">
    confirm password
    <%= f.password_field :password_confirmation %>
  </label>
  
  <label class="spam wide end_set">
    anti-spam check
    <%= show_simple_captcha(:image_style => 'simply_black', :size => 30) %>
  </label>
  
  <label class="checkbox">
    <%= f.check_box :wants_newsletter %>
    Send me the weekly Yoga Today newsletter and weekly class update.
  </label>
  
  <label class="checkbox">
    <%= f.check_box :wants_promos %>
    Keep me informed of Yoga Today offers and special announcements.
  </label>
  
  <label class="radio">
    <%= f.radio_button :newsletter_format, 'html' %>
    HTML E-mail
  </label>
  
  <label class="radio">
    <%= f.radio_button :newsletter_format, 'plain' %>
    Plain Text E-mail
  </label>
  
</fieldset>
  
  <div class="actions">
    <input class="cancel" type="submit" value="Cancel"></input>
    <%= submit_tag 'Save', :class => 'submit' %>
  </div>  
  
  