<%= error_messages_for :user, :id => "warning",
      :header_message => "There were problems with your registration."
%>

<div class="ambassador_on">
  <h4>Prepaid Unlimited Membership with 2 week free trial</h4>
  <p class="radio"><input type="radio"></input>Yoga Today 365 <span>A Full year for just $89.95 - saves you 25%</span></p>
  <p class="radio"><input type="radio"></input>Spring Signup Special <span>Four months for $39.95 - saves you 20%</span></p>
  <div class="panel">
    <div class="assigned" style="display: none;">
      <h5>Your Ambassador</h5>
      <div class="ambassador_id">
        <span>joinSunny26</span>
      </div>
      <p><input type="checkbox">Notify this Ambassador by e-mail when I subscribe</p>
      <a href="#" class="change_ambassador">Not your Ambassador?</a>
    </div>
    <div class="unassigned">
      <p>To credit an Ambassador and begin your 2 week free trial, please enter a valid Ambassador ID:</p>
      <input type="text" class="input"></input>
      <input type="submit" class="submit" value="Enter"></input>
    </div>
  </div>
</div>

<div class="ambassador_off" style="display: none">

  <p class="title">Free Membership</p>
  <p class="radio end_set"><%= radio_button_tag 'membership', 'free', @billing_cycle == 'free' %> Free. Enjoy Yoga Today's free weekly classes.</p>

  <p class="title">Monthly Unlimited Membership</p>
  <p class="radio end_set"><%= radio_button_tag 'membership', '1', @billing_cycle == '1' %> $9.99/month, recurring billing.</p>

  <p class="title">Prepaid Unlimited Membership</p>
  <p class="radio"><%= radio_button_tag 'membership', '12', @billing_cycle == '12' %> Yoga Today 365: A full year for just $89.95 - saves you 25%</p>
  <p class="radio end_set">Spring Signup Special: Four months for $34.95 - saves you 13%</p>

  <div class="trial">
    <h3>2 Week Free Trial</h3>
    <p>Enter a valid Ambassador ID with your prepaid subscription and enjoy a 2 week free trial before your account is billed. Cancel any time.</p>
    <input type="text" class="input"></input>
    <input class="submit" type="submit" value="Enter"></input>
  </div>

</div>

<fieldset class="basic">
  
  <label class="end_set wide">
    screen name
    <%= f.text_field :name  %>
  </label>
  
  <label class="column">
    e-mail address
    <%= f.text_field :email  %>
  </label>
  
  <label>
    confirm e-mail address
    <%= f.text_field :email_confirmation%>
  </label>

  <label class="column">
    password
    <%= f.password_field :password %>
  </label>

  <label class="end_set">
    confirm password
    <%= f.password_field :password_confirmation %>
  </label>
  
  <label class="spam wide end_set">
    anti-spam check
    <%= show_simple_captcha(:image_style => 'simply_black', :size => 30) %>
  </label>
  
  <label class="checkbox">
    <%= f.check_box :wants_newsletter %>
    Send me the weekly Yoga Today newsletter and weekly class update.
  </label>
  
  <label class="checkbox">
    <%= f.check_box :wants_promos %>
    Keep me informed of Yoga Today offers and special announcements.
  </label>
  
  <label class="radio">
    <%= f.radio_button :newsletter_format, 'html' %>
    HTML E-mail
  </label>
  
  <label class="radio">
    <%= f.radio_button :newsletter_format, 'plain' %>
    Plain Text E-mail
  </label>
  
</fieldset>
  
  <div class="actions">
    <input class="cancel" type="submit" value="Cancel"></input>
    <%= submit_tag 'Save', :class => 'submit' %>
  </div>  
  
  