<% can_has_js 'jquery.validate' %>
<% can_has_js 'billing' %>

<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Payment Info</div>
    </div>
  </div>

  <% form_for @user, :url => billing_user_path(@user), :html => {:id => 'billing_form'} do |f| %>

  <div id="main_content">
    <% if @user.has_paying_subscription? %>
      <% subscription = @user.account.subscription %>

      <h3>You are currently using card <%= subscription.card_number %> (expires on <%= subscription.card_expiration %>).</h3>
      <h3>Your next bill will be on <%= subscription.next_renewal_at.to_date.to_s(:long) %></h3>

      <p><strong><em>For security purposes, your personal information is not shown here.</em></strong></p>
    <% end %>

    <%= render :partial => 'shared/flashes' %>

    <% if flash[:notice ]%>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <br />

    <% if flash[:error_messages] || @user.errors.count > 0 || @creditcard.errors.count > 0 %>
      <div class="notice">
        I'm sorry. We were unable to obtain account authorization.<br>
        Please try again, or enter billing information for a different account.

        <ul>
        <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
        <% @creditcard.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="container_4col" style="float:left;">

        <div class="form_row" style="border-top:solid; border-top-width:1px; border-top-color:#dadad5; ">

          <h3>Unlimited Membership Options</h3>

          <p>All memberships: recurring billing, cancel anytime</p>

          <p style="margin-bottom: 15px">
            <%= radio_button_tag 'membership', '1', @billing_cycle == '1' %>
            <label for="membership_monthly">Subscription ($9.99/month)</label>
            <br />
            <%= radio_button_tag 'membership', '12', @billing_cycle == '12' %>
            <label for="membership_prepaid">Yoga Today 365 ($89.95/year) - Saves you 25%</label>
            <br />
          </p>

          <h3>Free Membership</h3>

          <p style="margin-bottom: 15px">
            <%= radio_button_tag 'membership', 'free' %>
            <label for="membership_free">Free (Enjoy Yoga Today's free weekly classes)</label>
          </p>

        </div>

        <% fields_for :creditcard do |cc| %>

        <div class="form_row">
          <div class="form_title" id="card_type_title">
            <%= label_tag :creditcard_type, 'Select Card Type*' %>
          </div>
          <div class="grid_spacer">&nbsp;</div>
          <div class="form_field_3col" id="card_type_field">
            <%= cc.select :type, [['American Express', 'american_express'],
                  ['Discover', 'discover'],
                  ['Mastercard', 'master'],
                  ['Visa', 'visa']]
            %>
            <br>
            <%= image_tag 'credit_cards.png', :size => '111x27' %>
          </div>
        </div>

        <div class="form_row">
          <div class="form_title" id="card_number_title">
            <%= label_tag :creditcard_number, 'Card Number*' %>
          </div>
          <div class="grid_spacer">&nbsp;</div>
          <div class="form_field_3col" id="card_number_field">
            <%= cc.text_field :number, :size => 25, :onKeyDown => "limitText(this, 25);" %>
          </div>
        </div>

        <div class="form_row">
          <div class="form_title" id="card_cvv_title">
            <%= label_tag :creditcard_verification_value, 'CVV, CVV2*' %>
          </div>
          <div class="grid_spacer">&nbsp;</div>
          <div class="form_field_3col" id="card_cvv_field">
            <%= cc.text_field :verification_value, :size => 4, :onKeyDown => "limitText(this, 4);" %>
          </div>
        </div>

        <div class="form_row">
          <div class="form_title" id="expiration_date_title">
            <%= label_tag :creditcard_month, 'Expiration Date*:' %>
          </div>
          <div class="grid_spacer">&nbsp;</div>

          <div class="form_field_3col" id="expiration_date_field">
            <%= select_month(@date, :add_month_numbers => true, :prefix => 'creditcard',  :field_name => 'month') %>
            &nbsp;
            <%= select_year(@date.year, :start_year => Date.today.year, :end_year => 10.years.from_now.year, :prefix => 'creditcard',  :field_name => 'year') %>
          </div>
        </div>

        <div class="form_row">
          <div class="form_title" id="billing_zip_title">
            <%= label_tag :creditcard_first_name, 'First Name*' %>
          </div>
          <div class="grid_spacer">&nbsp;</div>
          <div class="form_field_3col" id="billing_zip_field">
            <%= cc.text_field :first_name, :onKeyDown => "limitText(this, 100);" %>
          </div>
        </div>

        <div class="form_row">
          <div class="form_title" id="billing_zip_title">
            <%= label_tag :creditcard_last_name, 'Last Name*' %>
          </div>
          <div class="grid_spacer">&nbsp;</div>
          <div class="form_field_3col" id="billing_zip_field">
            <%= cc.text_field :last_name, :onKeyDown => "limitText(this, 100);" %>
          </div>
        </div>

        <% end %>

      <% unless @user.has_paying_subscription? %>
        <div class="form_row">
          <div class="form_title">&nbsp;</div>
          <div class="grid_spacer">&nbsp;</div>
          <div class="form_field_3col">
            <%= f.check_box :agree_to_terms %>

            <%= f.label :agree_to_terms, "I agree" %> to the
            <%= link_to 'Membership Terms and Details', membership_terms_user_path(@user), :target => '_blank' %>.
            <br />
          </div>
        </div>
      <% end %>

      <div class="form_row">
        <div class="form_title">&nbsp;</div>
        <div class="grid_spacer">&nbsp;</div>
        <div class="form_field_3col">
          <%= submit_tag 'Save', :class => 'smaller_button' %>
          <%= button_to_function 'Cancel', "window.location = '#{profile_user_path(@user)}'", :class => 'smaller_button' %>
        </div>
      </div>
    <% end %>

  </div>
  <div id="container_2col" style="float:right">
    <%= render :partial => 'profile_sidebar' %>
  </div>
</div>