<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Membership Terms</div>
    </div>
  </div>

  <div id="main_content">
    <div id="container_4col" style="float:left;">
      <div class="form_row" style="border-top:solid; border-top-width:1px; border-top-color:#dadad5; ">
<p>
Members enjoy unlimited streaming access to Yoga Today's entire library and are eligible to download classes at our special subscriber's rate. </p>
        <% if current_user.has_paying_subscription? %>
          <ul style="margin:0px; padding-left:15px;">
            <li>The subscription price for your Yoga Today membership is <%= number_to_currency(current_user.account.subscription.subscription_plan.amount.to_f) %>/month.</li>
            <li>Billing occurs automatically at the beginning of each period.</li>
            <li>Your next payment is scheduled to be debited on <%= current_account.subscription.next_renewal_at.strftime('%m/%d/%Y') %>.</li>
             <li>You may cancel at any time. Membership terminates at the end of the billing cycle. No refunds are offered for partial months.</li>
          </ul>
        <% else %>
        	<ul style="margin:0px; padding-left:15px;">
        	 <li>The subscription price for Yoga Today is $9.99/month.</li>
          	 <li>Billing occurs automatically at the beginning of each period.</li>
		 <li>You may cancel at any time. Membership terminates at the end of the billing cycle. No refunds are offered for partial months.</li>
          	</ul>
        <% end %>
        <p class="arial11_black"><span class="arial13_black">Terms of service</span><br>
        <p>
        	Materials on this Site, including those streamed or downloaded are owned or
			licensed by Yoga Today and are protected under various intellectual property
			laws. All materials including digital downloads are for your personal,
			non-commercial use and are subject to usage rules found in our complete <%= link_to "Terms
			and Conditions of Use", '/terms-and-conditions' %>. Please review them carefully before using the Site.<br><br>
			Health & Safety Disclaimer: Always seek the advice of your physician before
			starting or changing your exercise program or making a lifestyle change.
			Participate at your own risk.		
		</p>
		<p>&nbsp;</p>
		<p class="arial11_black"><span class="arial13_black">Privacy Policy & Personal Information</span><br>
        <p>
			Please see Yoga Today's complete <%= link_to "Privacy Policy", '/privacy-policy' %> for information concerning the collection and use of Personally Identifiable Information from this Site.
		</p>
      </div>
    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'profile_sidebar' %>
    </div>
  </div>
</div>

