<% title 'Sign Up' -%>

<div id="main">
  <div id="page_container">

    <%= render :partial => 'shared/flashes' %>

    <div id="signup_section">
      <h1 class="header_primary signup_banner">Sign Up</h1>

      <div id="signup_header">
        <div id="signup_step" class="signup_inactive"><h4>
          <%= link_to 'Step 1: Choose your membership', sign_up_path %>
          </h4></div>
        <div id="signup_step" class="signup_active last"><h4>Step 2: Create your account</h4></div>
      </div>

      <div class="clear"></div>

      <% form_for @user, :html => {:id => 'billing_form'} do |f| %>


      <%= f.error_messages(:class => 'notice',
          :header_message => nil,
          :message => "I'm sorry, we were unable to create your account.") %>

      <%= hidden_field_tag :membership_type, @membership_type  %>
      <%= hidden_field_tag :gift_card_code, params[:gift_card_code] unless params[:gift_card_code].blank?  %>

      <% if @membership_type == 'monthly' %>
      <div id="membership-type" class="monthly-box">
        <h2>Unlimited Membership - monthly recurring</h2>
        <p>Once you create your account, your credit card will be charged <strong>$9.99</strong>. Once the payment is approved your subscription will begin. Your subscription will automatically renew on <strong>July 10, 2010</strong>.</p>
      </div>
      
      <div id="signup-option1" class="ambassador-box">
      <% if @gift_card %>
        <h2 style="margin-bottom:0; line-height:0;">Your gift card has <%= number_to_currency @gift_card.balance %> and will be applied to your account</h2>
      <% else %>
                <h2 style="margin-bottom:0; line-height:0;">Option: Begin your membership with a two week free trial, cancel any time.</h2>
                <p>Enter a valid Ambassador ID with your prepaid subscription
      and enjoy a 2 week free trial before your account is billed.</p>
            <input class="input" id="x_ambassador_name" name="ambassador_name" type="text" size="30"><br>
                      <a class="submit" href="#" onclick="selectAmbassador(); return false;"><img alt="Ambassador_button_enter" src="/images/ambassador_button_enter.png"></a>

      <% end %>
      </div>
      <% elsif @membership_type == 'prepaid' %>
      <div id="membership-type" class="prepaid-box">
                <h2>Unlimited Membership - prepaid, one year</h2>
                <p>Once you create your account, your credit card will be charged <strong>$89.95</strong>. When payment is approved your 1-year subscription will begin and will remain open until July 10, 2011.</p>
              </div>
              <div id="signup-option1" class="ambassador-box">
              <% if @gift_card %>
                <h2 style="margin-bottom:0; line-height:0;">Your gift card has <%= number_to_currency @gift_card.balance %> and will be applied to your account</h2>
              <% else %>
                        <h2 style="margin-bottom:0; line-height:0;">Option: Begin your membership with a two week free trial, cancel any time.</h2>
                        <p>Enter a valid Ambassador ID with your prepaid subscription
              and enjoy a 2 week free trial before your account is billed.</p>
                    <input class="input" id="x_ambassador_name" name="ambassador_name" type="text" size="30"><br>
                              <a class="submit" href="#" onclick="selectAmbassador(); return false;"><img alt="Ambassador_button_enter" src="/images/ambassador_button_enter.png"></a>
              <% end %>
              </div>
      <% elsif @membership_type == 'free' %>
      <div id="membership-type" class="free-box">
                <h2>Free Membership</h2>
                <p>Once you create your account, each week you will have access to “This week’s free class,” our gift to those who are new to Yoga Today. You can upgrade to a subscription at any time.</p>
              </div>
      <% end %>

      <fieldset class="basic">
        <legend class="signup">Basic Information</legend>
        <label class="end_set wide">screen name
          <%= f.text_field :name, :size => 30 %>
        </label>
        <label class="column">first name 
          <%= f.text_field :first_name, :size => 30 %>
        </label> 
        <label class="end_set">last name 
          <%= f.text_field :last_name, :size => 30 %>
        </label> 
        <label class="column">e-mail address 
          <%= f.text_field :email, :size => 30 %>
        </label> 
        <label class="end_set">confirm e-mail address 
          <%= f.text_field :email_confirmation, :size => 30 %>
        </label> 
        <label class="column">password
          <%= f.password_field :password %>
        </label> 
        <label class="end_set">confirm password 
          <%= f.password_field :password_confirmation %>
        </label>
      </fieldset>

      <% if @membership_type != 'free' %>
        <%= render :partial => "credit_card", :locals => { :f => f } %>
      <% end %>

      <fieldset class="basic">
        <legend class="signup">E-mail Preferences</legend>
          <label class="checkbox">
            <%= f.check_box :wants_newsletter %>
            Send me the weekly Yoga Today newsletter and weekly class update.
          </label>
          <label class="checkbox">
            <%= f.check_box :wants_promos %>
            <label class="radio">
              <%= f.radio_button :newsletter_format, 'html' %>
              HTML E-mail
            </label>
            <label class="radio">
              <%= f.radio_button :newsletter_format, 'plain' %>
              Plain Text E-mail
            </label>
      </fieldset>

      <div class="actions">
        <input class="submit" src="/images/profile_button_signup.png" type="image">
      </div>
      
      
      <% end %>
    </div>

    <%= render :partial => "sessions/login", :locals => { :use_alternate => true } %>


  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    validateRegistration("#new_user");

    $("#user_name ~ label").css('display', 'none');
    $("#user_password ~ label").css('display', 'none');
    $("#user_password_confirmation ~ label").css('display', 'none');
    $("#user_email ~ label").css('display', 'none');
    $("#user_email_confirmation ~ label").css('display', 'none');

    $("#user_name").defaultValue('Screen name');
    $("#user_email").defaultValue('E-mail address');
    $("#user_email_confirmation").defaultValue('Retype E-mail address');
    $("#user_password").defaultValue('Password');
    $("#user_password_confirmation").defaultValue('Retype Password');
  });

  function selectAmbassador() {
    window.location = "/users/select_ambassador?ambassador_name=" + jQuery("#x_ambassador_name").val()
  }
</script>
