<% title 'Your Profile' %>
<% can_has_js 'jquery.validate' %>
<% can_has_js :profile_validation do %>
$(document).ready(function () {
  $('.edit_user').validate({
    rules: {
        "user[password]": {
          minlength: 5
        },
        "user[password_confirmation]": {
          minlength: 5,
          equalTo: "#user_password"
        },
        "user[email]": {
          required: true,
          email: true
        }
      },
      messages: {
        "user[password]": {
          minlength: "Your password must be at least 5 characters long"
        },
        "user[password_confirmation]": {
          equalTo: "Please enter the same password as above"
        },
        "user[email]": "Please enter a valid email address"
      }
    });
  $('.edit_user').find("#user_password").blur(function() {
    $('.edit_user').find("#user_password_confirmation").valid();
  });
});
<% end %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Profile</div>
    </div>
  </div>

  <div id="main_content">
    <div class="flash" style="text-align: center;"><%= flash[:user_notice]%></div>
    <div id="container_4col" style="float:left;">
      <% form_for(current_user, :html => {:multipart => true}) do |f| %>
      <div class="form_row">
        <div id="photo_title" class="form_title" style="padding-top: 20px;">
         Photo:
        </div>
        <div class="grid_spacer"> </div>
        <div id="photo_field" class="avatar_wrap" style="float:left;">
          <%= image_tag(current_user.photo.url, :style => "float:left;") %>
        </div>
        <div id="update_link" style="padding-top: 20px; float:left; margin-left: 6px;"><%= link_to_function "Update", 'document.getElementById("photo_upload").style.display = ""' %></div>
      </div>
      <div class="form_row" style="display:none" id="photo_upload">
        <%= f.file_field :photo, :style=>"margin-left: 90px;" %>
      </div>
      <div class="form_row">
        <div id="first_name_title" class="form_title">
         Name:
        </div>
        <div class="grid_spacer"> </div>
        <div id="first_name_field" class="form_field_3col">
          <%= f.text_field :name, :size => 40 %>
        </div>
      </div>
      <div class="form_row">
        <div id="email_title" class="form_title">
          Email:
        </div>
        <div class="grid_spacer"> </div>
        <div id="email_field" class="form_field_3col">
          <%= f.text_field :email, :size => 40 %>
        </div>
      </div>
      <div class="form_row">
        <div id="new_password_title" class="form_title">
          New Password:
        </div>
        <div class="grid_spacer"> </div>
        <div id="new_password_field" class="form_field_3col">
          <%= f.password_field :password, :value => ";9p=4-32", :size => 40, :style=>"color: #666666;" %>
        </div>
      </div>
      <div class="form_row">
        <div id="retype_password_title" class="form_title">
          Retype Password:
        </div>
        <div class="grid_spacer"> </div>
        <div id="retype_password_field" class="form_field_3col">
          <%= f.password_field :password_confirmation, :value => ";9p=4-32", :size => 40, :style=>"color: #666666;" %>
        </div>
      </div>
      <div class="form_row">
        <div id="email_title" class="form_title">
          City:
        </div>
        <div class="grid_spacer"> </div>
        <div id="city_field" class="form_field_3col">
          <%= f.text_field :city, :size => 40 %>
        </div>
      </div>
      <div class="form_row">
        <div id="email_title" class="form_title">
          State:
        </div>
        <div class="grid_spacer"> </div>
        <div id="state_field" class="form_field_3col" style="float:left">
          <%= f.select :state, states %>
        </div>
        <div class="grid_spacer" style="width: 10px;"> </div>
        <div id="country_title" class="form_title" style="width: 53px; clear: none;">
          Country:
        </div>
        <div class="grid_spacer" style="width: 10px;"> </div>
        <div id="country_field" class="form_field_3col" style="float:left">
          <%= f.select :country, countries, {:selected => current_user.country}, :onchange => "if(this.value != 'United States') { document.getElementById('user_state').value = '';}" %>
        </div>
      </div>
      <div class="form_row">
        <div id="news_title" class="form_title">
          Newletters:
        </div>
        <div class="grid_spacer"> </div>
        <div id="news_field" class="form_field_3col">
          <%= f.check_box :wants_newsletter %>
          Yes, send me news from YogaToday.com
        </div>
      </div>

      <div class="form_row">
        <div class="form_title">
           
        </div>

        <div class="grid_spacer"> </div>

        <div class="form_field_3col">
          <%= submit_tag 'Save', :class => 'smaller_button' %>
          <%= button_to_function 'Cancel', "history.back()", :class => 'smaller_button' %>
        </div>
      </div>
      <% end %>
    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'profile_sidebar' %>
    </div>
  </div>
</div>