<% title 'Your Profile' %>
<div id="main">
  <div id="page_container">
    <div id="page_information">
      <%= breadcrumb("My Account") %>
      <div class="arial18_green" id="main_title">Profile</div>
    </div>
  </div>

  <div id="main_content">
    <div class="flash" style="text-align: center;"><%= flash[:user_notice]%></div>
    <div id="container_4col" style="float:left;">

      <div id="profile_basic_information_form">

        <% form_for(current_user, :html => {:multipart => true}) do |f| %>

        <h2>Basic Information <span>Account Type: Unlimited Member</span></h2>
        
        <div class="avatar">
          <%= image_tag(current_user.photo.url) %>
          <span>My Photo</span>
          <%= link_to_function "update", 'document.getElementById("photo_upload").style.display = ""' %>
          <div id="photo_upload" style="display: none;">
            <%= f.file_field :photo %>
          </div>
        </div>
        
        <fieldset>
          <label class="end_set">
            user name
            <%= f.text_field :name %>
          </label>
          
          <label>
            new password
            <%= f.password_field :password, :value => ";9p=4-32" %>
          </label>
          
          <label class="end_set">
            confirm new password
            <%= f.password_field :password_confirmation, :value => ";9p=4-32" %>
          </label>
          
          <label>
            e-mail address
            <%= f.text_field :email %>
          </label>
          
          <label>
            city
            <%= f.text_field :city %>
          </label>

          <label class="state">
            state
            <%= f.select :state, states %>
          </label>
          
          <label class="country end_set">
            country
            <%= f.select :country, countries, {:selected => current_user.country}, :onchange => "if(this.value != 'United States') { document.getElementById('user_state').value = '';}" %>
          </label>
          
          <label class="checkbox">
            <%= f.check_box :wants_newsletter %>
            Send me the weekly Yoga Today newsletter and weekly class update.
          </label>

          <label class="checkbox">
            <%= f.check_box :wants_promos %>
            Keep me informed of Yoga Today offers and special announcements.
          </label>

          <label class="radio">
            <%= f.radio_button :newsletter_format, 'html' %>
            HTML E-mail
          </label>

          <label class="radio">
            <%= f.radio_button :newsletter_format, 'plain' %>
            Plain Text E-mail
          </label>       
          
        </fieldset>
        
        <div class="actions">
          <input class="submit" type="image" src="/images/profile_button_save-changes.png"></input>
        </div>

        <% end %>

      </div>
      
    </div>
    <div id="container_2col" style="float:right">
      <%= render :partial => 'profile_sidebar' %>
      <%= render :partial => 'users/shared/ambassador_profile_widget' %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
  $('.edit_user').validate({
    rules: {
        "user[password]": {
          minlength: 5
        },
        "user[password_confirmation]": {
          minlength: 5,
          equalTo: "#user_password"
        },
        "user[email]": {
          required: true,
          email: true
        }
      },
      messages: {
        "user[password]": {
          minlength: "Your password must be at least 5 characters long"
        },
        "user[password_confirmation]": {
          equalTo: "Please enter the same password as above"
        },
        "user[email]": "Please enter a valid email address"
      }
    });
  $('.edit_user').find("#user_password").blur(function() {
    $('.edit_user').find("#user_password_confirmation").valid();
  });
});
</script>