<html>
  <head>
    <title>
      <%=  "Your Yoga Today Subscription has been activated! (RECEIPT \##{@subscription.id})" %>
    </title>
  </head>
  <body>
    <%= render :partial => "shared/email_header2",
      :locals => { :headertitle => "Your Yoga Today Subscription has been activated! (RECEIPT \##{@subscription.id})"} %>
    <div>
      <br />
      Hello <%= @user.name %> ,
      <br />
      <% if @user.account.subscription.subscription_plan.is_free? %>
        <p>Welcome to the Yoga Today Community! We’re pleased to inform you that your account has been activated. With your status as a free member, you can enjoy viewing a featured free class every week. You can also download any of our yoga videos for $3.99 per class.</p>
      <% else %>
        <p>Welcome to the Yoga Today Community! We’re pleased to inform you that your subscription has been successfully processed and you now have unlimited streaming access to the Yoga Today Library. As an Unlimited Member, you also qualify for our special subscriber’s rate of $2.99 for downloaded classes.</p>
      <% end %>
      <br />
      <p>Be sure to visit your page to create an avatar so that other members will recognize you when you rate, review and discuss classes.</p>
      <br />
      <p>Classes added to your Yoga Queue will be saved for your return when you log out. <a href="http://yogatoday.com">Click Here</a> to begin practicing with us right away!</p>
      <br />
      <p>Thanks and Love from everyone at Yoga Today:)</p>
      <br />

      Order # <%=  @subscription.id %>
      <br />
      Name: <%= @user.name %>
      <br />
      Order Date: <%= @subscription.id %>
      <br />
      Credit Card Number: <%= @subscription.card_number %>
      <br />
      Amount Charged: <%= number_to_currency(@subscription.amount) %>
      <br />

      <% if @user.account.subscription.subscription_plan.is_trial? %>
        <p>Your card will not be charged until your two-week free trial has expired.</p>
        <br />
        <% if @user.account.subscription.subscription_plan.renewal_period == 12 %>
          <p>Billing recurs automatically for annual memberships.</p>
          <br />
        <% end %>
        <p>Cancel anytime on or before <%= @user.account.subscription.next_renewal_at.strftime("%m/%d/%Y") %> and you will not be billed.</p>
        <br />
      <% end %>

      Membership Terms:
      <br />
      Billing occurs automatically at the beginning of each period and your next
      payment is scheduled to be debited on
      <%= @subscription.next_renewal_at.to_s(:long_day).squeeze(' ') %>.
      You may cancel at any time by
      visiting http://www.yogatoday.com, logging into your account,
      clicking on "My Profile" and selecting "Cancel Membership."
      Sorry, no refunds can be offered for partial months.
      <br />
      For details about the Yoga Today Terms of Service, visit
      <a href="http://www.yogatoday.com/terms-and-conditions">
        http://www.yogatoday.com/terms-and-conditions
      </a>
      <br />
      Our privacy policy can be accessed at
      <a href="http://www.yogatoday.com/privacy-policy">
        http://www.yogatoday.com/privacy-policy
      </a>
      <br />
      This email was sent to you as part of your Yoga Today membership.
      If you would like to stop receiving these emails please visit your Profile page,
      uncheck "Yes, send me news from YogaToday.com," and save your changes.
      <br />
      Please do not reply to this email.
      <br />
      For more information about your account, please visit
      <a href="http://www.yogatoday.com/faqs">
        http://www.yogatoday.com/faqs
      </a>
      <br />
      If you require further assistance, please contact support@yogatoday.com
      <br />
    </div>
  </body>
</html>

