<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag 'email' %>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <%= image_tag("yogatoday-logo-large.gif", :id => 'logo', :alt => "Yogatoday Logo") %>
        <h1>Welcome to Yoga Today!</h1>
        <div class="clear border_bottom"></div>
      </div>
      <div id="main">
        <p>Hello <%= @user.name %></p>

        <p>Welcome to the Yoga Today Community! Your Free Membership has been created and you now have on-line streaming access to our free weekly classes.</p>

        <p>Be sure to visit your Profile page to upload a photo so that other members will recognize you when you rate, review and discuss classes.</p>

        <p>Classes added to your Yoga Queue will be saved for your return when you log out.</p>

        <p>Thanks and Love from everyone at Yoga Today:)</p>

        <p><%= link_to root_url.sub('http:', '').gsub('/', ''), root_url %></p>
      </div>

      <div class="disclaimer" id="footer">
        <p>To follow us online:</p>

        <%= link_to image_tag('emails/facebook.jpg', :alt => "YogaToday Facebook Page"), 'http://www.facebook.com/pages/Yoga-Today/37437463401', :title => 'YogaToday Facebook Page' %>
        <%= link_to image_tag('emails/twitter.jpg', :alt => "Twitter"), "http://twitter.com/yogatoday", :title => 'YogaToday Twitter Account' %>
        <%= link_to image_tag('emails/rss.jpg', :alt => "RSS"), "http://blog.yogatoday.com", :title => 'YogaToday Blog' %>

        <p>For details about the Yoga Today Terms of Service, visit <br/>
          <%= link_to terms_and_conditions_url, terms_and_conditions_url %><br/>
        </p>

        <p>Our privacy policy can be accessed at <br/>
          <%= link_to privacy_policy_url, privacy_policy_url %>
        </p>

        <p>This email was sent to you as part of your Yoga Today membership. If you would like to stop receiving these emails please visit your Profile page,
        uncheck "Yes, send me news from YogaToday.com," and save your changes.</p>

        <p><b>Please do not reply to this email.</b></p>
        <p>For more information about your account, please visit <%= link_to faqs_url, faqs_url%><br/>
        If you require further assistance, please contact <%= mail_to("support@yogatoday.com") %><br/></p>
      </div>
    </div>
  </body>
</html>