<html>
  <head>
    <title>Thank You</title>
  </head>
  <body>
	<%= render :partial => "shared/email_header" %>
<br />
Welcome to <%= AppConfig['app_name'] %>!
<br />
<br />
You signed up for the <%= @account.subscription.subscription_plan.name %> plan with the email address <%= @account.admin.email %>.
<br />
<br />
To sign in again in the future, please return to the following
<br />
URL and use the email address and password you used to create 
<br />
your account:
<br />
<br />
http://<%= @account.full_domain %> 
<br />
<br />
If you have any questions about or problems with the service, 
<br />
please don't hesitate to email <%= AppConfig['from_email'] %>. 
<br />
  </body>
</html>
