<%
  fv ||= featured_video_overlay
  video ||= fv.video if fv
  controls = true if controls.nil?
  size ||= nil
  width ||= nil
%>

<% if controller.action_name == 'home' %>
  <% unless logged_in? -%>
    <div id="homepage_intro_promo">
      <div class="home_hero_share">
        <a class="learn_how" href="/ambassador-details">Learn How</a>
      </div>
      <div>
        <div id="home_200videos_signup">
          <%= link_to(image_tag( 'button_homepromo_signup.png'), sign_up_path, {:class => 'signup_link', :title => 'Sign up today'}) -%>
        </div>

        <div id="home_invited_by_ambassador">
          <p>To credit an Ambassador and begin your 2 week free trial, please enter a valid Ambassador ID:</p>
          <div>
            <% form_tag select_ambassador_users_path do %>
              <%= text_field_tag :ambassador_name, '', :class => 'input' %>
              <%= image_submit_tag '/images/ambassador_button_enter.png', :class => 'submit' %>
            <% end %>
          </div>
          <a href="#" class="help">What's this?</a>
        </div>

        <a href="#"><img src="/images/home_ad_spring-special.png"></img></a>

        <%= link_to image_tag( 'home_ad_free-class.png' ), this_weeks_free_video_videos_path, {:title => "Watch this week's free video"} -%>
      </div>
    </div>
  <% end -%>
<% end -%>
<div style="clear:both;"></div>
<div id="video_banner" onmouseover="$('#featured_video_image_fade').toggle();" onmouseout="$('#featured_video_image_fade').toggle();" style="margin-bottom: 0px; padding-bottom: 0px; overflow:hidden; <%= 'display: none;' if @home_page and !logged_in? -%>">
    <% if size.nil? %>
      <div id="featured_video_image_fade" style="display:none; overflow: hidden; ">
    <% else %>
      <div id="featured_video_image_fade" style="display:none; overflow: hidden; width: <%= size.split('x').first %>px; height: <%= size.split('x').last %>px">
    <% end %>
      <!-- BEGIN FEATURED VIDEO FADE -->
      <div id="featured-video-box">
        <% if controls %>

        <div id="featured-video-previous">
          <span id='featured-video-previous' onmouseover="this.style.cursor='Pointer';" onmouseout="this.style.cursor='';">
            <%= image_tag '/images/overlay-previous.png', :size => '11x23', :border => '0' %>
          </span>
        </div>

        <div id="featured-video-next">
          <span id='featured-video-next' onmouseover="this.style.cursor='Pointer';" onmouseout="this.style.cursor='';">
            <%= image_tag '/images/overlay-next.png', :size => '11x23', :border => '0' %>
          </span>
        </div>

        <% end %>
        <div id="featured-video-content">
          <div id="feature-video-info-free-class" style="<%= free_video_of_week ? '' : 'display: none' %>">
            <%= image_tag '/images/overlay-free-class-header.png', :size => '355x39' %>
          </div>
      <div id="feature-video-info-featured-class" style="<%= (featured_video_of_week && !free_video_of_week) ? '' : 'display: none' %>">
            <%= image_tag 'overlay-featured-class-header.png', :size => '355x39' %>
          </div>

          <div id="featured-video-info" onmouseover="this.style.cursor='Pointer';" onmouseout="this.style.cursor='';" onclick="window.location.href='<%= video_url(video.id) if video %>'">
            <div style="" id='featured-video-info-container'>
              <div id="feature-video-info-class-title">
                <%= video.title if video %>
              </div>

              <div id="feature-video-info-class-text">
                <span id='featured-video-skill'><%= video.skill_name if video %></span> | <span id='featured-video-yoga-type'> <%= video.style_names.join(', ') if video %></span> | <span id='featured-video-instructor'><%= video.instructor_names.join(', ') if video %></span> | <span id='featured-video-time'><%= video.duration_to_minutes if video %>:<%= video.duration_seconds if video%></span>
              </div>
            </div>

            <div id="feature-video-info-play">
              <a href="<%= video_path(video) if video %>" title="video details" id='featured-videos-link'>
                <%= image_tag 'overlay-round-play-arrow.png', :size => '39x40', :style => 'margin-top: 5px', :border => '0' %>
              </a>
            </div>
          </div>
            <% if !logged_in? || !current_user.has_paying_subscription? %>
              <div id="featured-video-ad">
                <a href="<%= get_started_today_path %>" title="get started today">
                  <%= image_tag 'overlay-unlimited-bar.png', :size => '355x33', :border => '0' %>
                </a>
              </div>
            <% end %>
        </div>
        </div>
      <!-- END FEATURED VIDEO FADE -->
    </div>
    <div id="featured_video_image_container" size="<%= size %>">
      <% unless fv.blank? %>
        <%= image_tag(fv.thumbnail, :id => 'featured_video_image', :size => size, :width => width, :style => "margin: 0px; padding: 0px; border: 0px;") %>
      <% end %>
    </div>
  </div>
