<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery.rating' %>
<% end %>
<script>
  $(document).ready(function(){$('input[type=radio].star').rating();});
</script>
<div class="results_row" style='overflow: hidden'>
  <% grid_listing.compact.each do |video| %>
    <div class="video_box1">
      <%= link_to_video video %>
      <div style="margin-top: 10px;">
        <a href="<%= video_path video %>" title="More information about '<%= h video.title  %>'" class="video-thumb-title">
          <%= truncate(video.title,18) %>
        </a>
      </div>
      <div class="video-thumb-info" style="margin-top: 6px;">
        <span title='<%= video.instructor_names.join(', ')
        %>'><%= video.instructor_names.first.split(" ")[0] == "No" ?
        "No Instr..." : truncate(video.instructor_names.first.split('
        ')[0], 9) %></span>  | <%= video.skill_name %> |
        <%= video.duration_to_minutes %>:<%= video.duration_seconds %>
      </div>
      <div class='grid_video_rating'>
        <%= render_star_rating video.score %>
      </div>
      <div style="float: left; padding: 2px 0px;">
        <%= add_video_to_playlist_link '+ Queue', video %>
      </div>
      <div style="float: left; margin-left: 2px; padding: 2px 0px;">
      <%= add_video_to_cart_link "Buy | #{number_to_currency(video.price(current_user)).split('.').first}<span style='vertical-align: top; line-height: 14px; font-size: 8px;'>99</span>", video %>
      </div>
      <div style="clear:both;"></div>
    </div>
  <% end %>
</div>
