<div id="instructor_info">
  <div>
    <span class="arial16_bold_green"><%= video.title %></span><br/>
  </div>
  <div><img height="3" width="1" src="/images/spacer.gif"/></div>

  <div>
    <div class='video_overall_rating' style='display:inline'>
      <%= render_star_rating(video.score, :name => 'header_rating') %>  
    </div>
    <a class="verdana10_gray" href="#RIGHT_HERE_RIGHT_NOW" onclick="discussionChange('review_display_button','review_display');$.scrollTo('#review_display', 800);"><span class='review_count'><%= video.reviews.public.count %></span> reviews</a>
  </div>

  <div><img height="34" width="1" src="/images/spacer.gif"/></div>
  <% unless video.instructors.blank? %>
    <% if video.instructors.first.photo? %>
      <div id="instructor_photo">
        <%= image_tag video.instructors.first.photo.url, :style=> 'max-width:84px;max-height:121px;' %>
      </div>
    <% end %>
  <% end %>
  <div id="instructor_stats">
    <strong>Skill Level: </strong><%= video.skill_name %><br/>
    <strong>Style: </strong><%= video.style_names.join(', ')  %> <br/>
    <strong>Focus: </strong><%= video.focus_name  %> <br/>
    <strong>Length: </strong><%= video.duration_to_minutes %>:<%= video.duration_seconds %><br/>
    <strong>Instructor: </strong><%= video.instructor_names.join(', ')  %><br/>
  </div>
</div>

<div id="class_description">
  <%= video.description %>
</div>