<%
  display_mode = params[:display] || @display_mode || 'grid'
  grid_image = display_mode == 'grid' ? 'switch-view-grid-selected.png' : 'switch-view-grid.png'
  list_image = display_mode == 'list' ? 'switch-view-list-selected.png' : 'switch-view-list.png'
  search_remote_function = {:url => {:action => :search}, :with => "search_parameters()", :loading => "$('#search_message').hide();"}
%>
<% if params[:action] == 'search' %>
  <script type="text/javascript">
    $(document).ready(function() {
      // Expands all filter boxes if in search mode.
      <% if params[:skill_level] || (params[:search] && params[:search][:skill_level])%>
        $('#skill_level_filter_title').click();
      <% end %>
      <% if params[:instructors] || (params[:search] && params[:search][:instructors])%>
        $('#instructor_filter_title').click();
      <% end %>
      <% if params[:video_focus] || (params[:search] && params[:search][:video_focus]) %>
    $('#focus_filter_title').click();
    <% video_focuses_ids = params[:video_focus] || params[:search][:video_focus] || []  %>
    <% VideoFocus.find(video_focuses_ids).collect{|vf| vf.video_focus_category}.uniq.each do |vfc| %>
      $('#video_focus_category_<%= vfc.id %> > div').click();
      $('#video_focus_category_<%= vfc.id %> > input').attr('checked', true);
    <% end %>
      <% end %>
    });
  </script>
<% end %>

<div id="container_2col" style="float:right; margin-top: 10px; padding-bottom: 25px;">
<% form_tag url_for(:action => 'search'), :name => "search_form", :id => "search_form", :style => "margin-bottom: 20px;" do %>
<div class='search_header' style="margin-bottom: 5px;">
  <%= link_to_function "Reset All Search Filters", "$('input[type=checkbox]').attr('checked', false);$('#keywords').val('');" %>
  <%= link_to "#{image_tag 'filter-arrow-close.png', :style=>'margin-bottom: -1px; border: 0px;' } search help", faqs_url(:type => 'technical'), :style=>"padding-left: 55px;" %>
  <div style="clear:both; padding-top: 15px;">
    <div style="float:left;">
      <% styling = 'color: #999999; font-style: italic;' %>
      <%= text_field_tag :keywords, 'keywords', :onfocus => "if(this.value=='keywords'){this.value='';this.style.color='#333333'; this.style.fontStyle='normal';}", :style => "padding: 4px; width: 185px; #{styling}" %>
    </div>
    <div style="float:left; margin-left: 5px;">
      <%= submit_tag "Search", :class => "smaller_button" %>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>

<!-- SEND IN THE SORT BY -->
<%= hidden_field_tag :sort_by, @sorting %>
<!-- LEVEL -->
<div class="filter_box" id="filter_level_off" style="padding-top: 5px;">
  <div class="filter_arrow" onclick="displayDropDown('filter_level_on','block','filter_level_off');" onmouseover="this.style.cursor='Pointer';">
  <img src="/images/filter-arrow-close.png" />        </div>
  <div id="skill_level_filter_title" style="margin-top: 10px;" class="filter_title" onclick="displayDropDown('filter_level_on','block','filter_level_off');" onmouseover="this.style.cursor='Pointer';">
  Level        </div>
</div>

<div class="filter_box" id="filter_level_on" style="display:none; clear:both;">
  <div class="filter_arrow" style="margin-top: 13px;" onclick="displayDropDown('filter_level_off','block','filter_level_on');" onmouseover="this.style.cursor='Pointer';"><img src="/images/filter-arrow-open.png" /></div><div class="filter_title"  onclick="displayDropDown('filter_level_off','block','filter_level_on');" style="margin-top: 10px;"  onmouseover="this.style.cursor='Pointer';">Level</div>
  <div class="filter_actions">&nbsp;-&nbsp;<%= select_all_or_cancel_links(:context => "$('#filter_level_on')") %></div>
  <div style="float: right;">
    <%= submit_tag "Apply Filters", :class => "button" %>
  </div>
  <div style="clear:both;"></div>

  <div class="filter_options">
    <% SkillLevel.all.each do |level| %>
      <div class="filter_option_box">
        <%= check_box_tag 'search[skill_level][]', level.id, is_searched_for?(:skill_level, level.id) %>
        <%= level.name %>
      </div>
      <div style="float:right;"><img src="/images/filter-info.gif" width="10" height="10" onmouseover="this.style.cursor='pointer';showInfoWindow(event,'<%= dom_id(level) %>_info');" onmouseout="displayDropDown('<%= dom_id(level) %>_info','none','');"/></div>
      <br />
      <div class="info_window" id="<%= dom_id(level) %>_info">
        <span class="arial13_bold_black"><%= level.name %></span><br/>
        <%= level.description %>
      </div>
    <% end %>
  </div>
</div>


<!-- INSTRUCTOR -->
<div class="filter_box" id="filter_instructor_off">
  <div class="filter_arrow" onclick="displayDropDown('filter_instructor_on','block','filter_instructor_off');" onmouseover="this.style.cursor='Pointer';">
  <img src="/images/filter-arrow-close.png" />        </div>
  <div id="instructor_filter_title" style="margin-top: 10px;" class="filter_title" onclick="displayDropDown('filter_instructor_on','block','filter_instructor_off');" onmouseover="this.style.cursor='Pointer';">
  Instructor        </div>
</div>

<div class="filter_box" id="filter_instructor_on" style="display:none; clear:both;">
  <div class="filter_arrow" style="margin-top: 13px;" onclick="displayDropDown('filter_instructor_off','block','filter_instructor_on');" onmouseover="this.style.cursor='Pointer';"><img src="/images/filter-arrow-open.png" /></div><div class="filter_title" onclick="displayDropDown('filter_instructor_off','block','filter_instructor_on');" onmouseover="this.style.cursor='Pointer';" style="margin-top: 10px;">Instructor</div>
  <div class="filter_actions">&nbsp;-&nbsp;<%= select_all_or_cancel_links(:context => "$('#filter_instructor_on')") %></div>
  <div style="float: right;">
    <%= submit_tag "Apply Filters", :class => "button" %>
  </div>
  <div style="clear:both;"></div>

  <div class="filter_options">
    <% Instructor.find(:all, :order => "name asc").each do |instructor| %>
      <div class="filter_option_box">
        <%= check_box_tag 'search[instructors][]', instructor.id, is_searched_for?(:instructors, instructor.id) %>
        <%= instructor.name %>
      </div>
      <br />
    <% end %>
  </div>
</div>

<%= render :partial => 'focus_options' %>


<!-- TYPE -->
<div class="filter_box" id="filter_type_off">
  <div class="filter_arrow" onclick="displayDropDown('filter_type_on','block','filter_type_off');" onmouseover="this.style.cursor='Pointer';">
  <img src="/images/filter-arrow-close.png" />        </div>
  <div id="type_filter_title" class="filter_title" onclick="displayDropDown('filter_type_on','block','filter_type_off');" onmouseover="this.style.cursor='Pointer';" style="margin-top: 10px;">
  Type        </div>
</div>

<div class="filter_box" id="filter_type_on" style="display:none; clear:both;">
  <div class="filter_arrow" style="margin-top: 13px;" onclick="displayDropDown('filter_type_off','block','filter_type_on');" onmouseover="this.style.cursor='Pointer';"><img src="/images/filter-arrow-open.png" /></div><div class="filter_title" onclick="displayDropDown('filter_type_off','block','filter_type_on');" onmouseover="this.style.cursor='Pointer';" style="margin-top: 10px;">Type</div>
  <div class="filter_actions">&nbsp;-&nbsp;<%= select_all_or_cancel_links(:context => "$('#filter_type_on')") %></div>
  <div style="float: right;">
    <%= submit_tag "Apply Filters", :class => "button" %>
  </div>
  <div style="clear:both;"></div>

  <div class="filter_options">
    <% YogaType.find(:all, :order => 'name ASC').each do |yoga_type| %>
      <div class="filter_option_box">
        <%= check_box_tag 'search[yoga_types][]', yoga_type.id, is_searched_for?(:yoga_types, yoga_type.id) %>
        <%= yoga_type.name %>
      </div>
      <br />
    <% end %>
  </div>
</div>
<br>
<br>
<% end %>
