<% can_has_js 'jquery.form' %>
<%
  display_mode = params[:display] || @display_mode || 'grid'
  grid_image = display_mode == 'grid' ? 'switch-view-grid-selected.png' : 'switch-view-grid.png'
  list_image = display_mode == 'list' ? 'switch-view-list-selected.png' : 'switch-view-list.png'
%>
<!--
  <script type="text/javascript">
    $(document).ready(function() {
      $('#search_form').data('oldval', $('#search_form').serialize());
      setInterval("updateSearch('#search_form')", 1500);
    });
    function updateSearch(form) {
      var search_data = $(form).serialize();
      var sort_data = $('#sort_by').val();
      if ($(form).data('oldval') != search_data) {
        $(form).data('oldval', search_data);
        $('#search_message').show();
        $(form).ajaxSubmit({
          dataType: 'script',
          data: {"sort_by": sort_data}
        });
      }
    }
    function search_parameters() {
      var parameters = new Array();
      var j = 0;
      parameters[j++] = 'display=<%= display_mode %>';
      for(i=0;i<document.search_form.elements.length;i++){
        if(document.search_form.elements[i].checked) {
          parameters[j++] = [document.search_form.elements[i].name + "=" + document.search_form.elements[i].value];
        }
      }
      return parameters.join("&");
    }
  </script>
-->
  <div id="main">
  		<% if free_video_of_week %>
			<div style="float: left; overflow:hidden;" id="container_4col">
				<%= render :partial => 'videos/featured_video_overlay', :object => free_video_of_week, :locals => { :width => '620', :controls => false } %>      
    		</div>
    	<% elsif featured_video_of_week %>
    		<div style="float: left; overflow:hidden;" id="container_4col">
				<%= render :partial => 'videos/featured_video_overlay', :object => featured_video_of_week, :locals => { :width => '620', :controls => false } %>      
    		</div>
    	<% end %>
    <div style="float: right;" id="container_2col">
		<% if !logged_in? || !current_user.has_paying_subscription? %>
		<% subscription_advert_path = !logged_in? ? get_started_today_path : billing_user_path(current_user) %>
		<div id="container_2col" class="YT365_promo">
      <%= render :partial => 'shared/promo_yt365' %>     
		</div>
		<div><img height="10" width="1" src="/images/spacer.gif"/></div>
		<% end %>


      <% if free_video_of_week %>
      <div id="container_2col">
          <%= render :partial => 'shared/free_video_advert', :object => free_video_of_week %>
          </div>
      <% end %>
		</div>



    <div id="page_container" style="width: 620px; margin-top: 5px;">
      <div id="page_information" style="height:50px; width: 400px;">
        <div id="navigation" class="breadcrub_nav">Home : Videos</div>
        <div class="arial18_green" id="main_title" style="padding-bottom: 10px;">Yoga Today Videos</div>
      </div>  
      <% unless @keywords.blank? %>
      	<div style="float:right; margin-top: 10px; text-align: right;">
	      	<%= @videos.total_entries %> of <%= Video.count %> classes found<br>keywords: <%= @keywords %>
  		</div>
  	  <% end %>
    </div>
    
    <!--<div id="main_content">-->
    	<div style="height: 0px; clear:both">&nbsp;</div>
      <div id="container_4col_wrap" style="float:left; margin-top: 10px;">
        <%= render :partial => "video_listings" %>
        <div class="promo_yt365_wide">
          <%= image_tag( 'promo_yt365_623x60.png', :alt => 'Save 25% with Yoga Today 365' ) %>
          <%= link_to image_tag( 'button_homepromo_learnmore.png', :alt => 'Learn More' ), get_started_today_url, {:class => 'learn_more_link', :title => 'Get started today'} -%>
          <%= link_to image_tag( 'button_homepromo_subscribe.png', :alt => 'Subscribe' ), subscription_users_path, {:class => 'subscribe_link', :title => 'Subscribe to Yoga Today'} -%>
        </div>
      </div>
      <%= render :partial => 'search_sidebar' %>      
    <!--</div>-->
      <div class="ext_ads">
        <script type="text/javascript">
	  GA_googleFillSlot("YogaToday_SearchResults_Bottom_300x250");
  	</script>

      </div>
    </div>
  </div>
</div>
