<div id="menu_content" style="z-index: 102;" onmouseout="displayDropDown('','','classes_menu;community_menu;learn_more_menu');">
  <ul>
    <li>
      <%= link_to( image_tag('nav_classes.png', :alt => 'Classes', :name => 'nav_classes', :id => 'nav_classes' ), videos_url, {
        :title => 'Classes',
        :onmouseout => "MM_swapImgRestore();",
        :onmouseover => "MM_swapImage('nav_classes','','/images/nav_classes_on.png',1);displayDropDown('classes_menu','block','community_menu;learn_more_menu');" } )
        -%>
    </li>
    <li class="margin_left">
      <%= link_to( image_tag('nav_community.png', :alt => 'Community', :name => 'nav_community', :id => 'nav_community' ), 'http://blog.yogatoday.com', {
        :title => 'Community',
        :onmouseout => "MM_swapImgRestore();",
        :onmouseover => "MM_swapImage('nav_community','','/images/nav_community_on.png',1);displayDropDown('community_menu','block','classes_menu;learn_more_menu');" } )
        -%>
    </li>
    <li class="margin_left">
      <%= link_to( image_tag('nav_learn.png', :alt => 'Learn More', :name => 'nav_learn', :id => 'nav_learn' ), get_started_today_url, {
        :title => 'Learn More',
        :onmouseout => "MM_swapImgRestore();",
        :onmouseover => "MM_swapImage('nav_learn','','/images/nav_learn_on.png',1);displayDropDown('learn_more_menu','block','classes_menu;community_menu');" } )
        -%>
    </li>
    <% if logged_in? %>
    <% level = current_user.has_paying_subscription? ? nil : 'free' %>
    <li class="margin_left"><%= link_to(image_tag('nav_newsletter.png', :alt => 'Sign up for e-news' ), subscription_users_path(:membership => level), {:title => 'Newsletter'}) -%></li>
    <% else %>
    <li class="margin_left"><%= link_to(image_tag('nav_newsletter.png', :alt => 'Sign up for e-news' ), subscription_users_path(:membership => 'free'), {:title => 'Newsletter'}) -%></li>
    <% end %>
    <li><%= link_to(image_tag('nav_freeclass.png', :alt => "This week' free class" ), this_weeks_free_video_videos_path, {:title => "This week's free class"}) -%></li>
    <li>
      <%= link_to(image_tag('nav_share.png', :alt => 'Share Yoga Today', :name => 'nav_share', :id => 'nav_share', :class => "a2a_dd" ), 'http://www.addtoany.com/share_save', {
        :title => 'Share Yoga Today',
        :onmouseout => "MM_swapImgRestore();",
        :onmouseover => "MM_swapImage('nav_share','','/images/nav_share_on.png',1);" }) -%>
      <script type="text/javascript">a2a_linkname=document.title;a2a_linkurl=location.href;</script>
      <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
    </li>
    <% if logged_in? -%>
    <li class="margin_left cart_logged_in"><%= link_to(image_tag('nav_cart_loggedin.png', :alt => 'Cart' ), cart_path, {:id => 'cart_link', :title => 'Your Cart'}) -%><span id="header_cart_size" class="cart_count"><%= "(#{shopping_cart.size})" -%></span></li>
    <% level = current_user.has_paying_subscription? ? nil : 1 %>
    <li><%= link_to(image_tag('nav_subscribe.png', :alt => 'Subscribe' ), subscription_users_path(:membership => level), {:id => 'cart_link', :title => 'Subscribe'}) -%></li>
    <li><%= link_to(image_tag('nav_logout.png', :alt => 'Logout' ), logout_path, {:title => 'Logout of Yoga Today'}) -%></li>
    <% else -%>
    <li class="margin_left"><%= link_to(image_tag('nav_login.png', :alt => 'Login' ), login_path, {:id => '', :title => 'Login to Yoga Today'}) -%></li>
    <li><%= link_to(image_tag('nav_signup.png', :alt => 'Sign Up' ), sign_up_path(:membership => 'free'), {:title => 'Sign Up'}) -%></li>
    <li><%= link_to(image_tag('nav_cart.png', :alt => 'Cart' ), cart_path, {:id => 'cart_link', :title => 'Your Cart'}) -%>
    <span id="header_cart_size" class="cart_count"><%= "(#{shopping_cart.size})" -%></span></li>
    <% end -%>

  </ul>



  <script type='text/javascript'>
    $(function() {
      $('#menu_content').show();
    });
  </script>
  <div id="show_no_menu" style="">

    <!-- Classes SubMenu -->
    <div style="display: none;" id="classes_menu" class="yoga_drop_down_menu" onmouseout="displayDropDown('classes_menu','none','');">

      <div style="cursor: pointer; color: #999999;" id="menu_item" onmouseover="displayDropDown('classes_menu','block',''); this.style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999';" onclick="$('#sub_menu_01').toggle('blind');imageChange('/images/nav-plus.gif;/images/nav-minus.gif','menu_image_01');">
        <img id="menu_image_01" src="/images/nav-plus.gif" width="9" height="9"> Skill Level
      </div>

      <!-- Classes > Skill Level SubMenu -->
      <div id="sub_menu_01" class="sub_menu_box" style="display: none; z-index: 102;">
      <% SkillLevel.all.each do |skill_level| %>
        <div style="cursor: pointer; color: #999999; z-index: 102;" id="sub_menu_item" onclick="window.location.href = '<%= search_videos_url(:skill_level => [skill_level.id])%>';" onmouseover="displayDropDown('classes_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('skill_level_<%= skill_level.id %>').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('skill_level_<%= skill_level.id %>').style.color='#999999';">
          <%= link_to skill_level.name.titleize, search_videos_path(:skill_level => [skill_level.id]), :style => "color: inherit;", :id => "skill_level_#{skill_level.id}" %>
        </div>
      <% end %>
        <div style="cursor: pointer; color: #999999; z-index: 102;" id="sub_menu_item" onclick="window.location.href ='<%= videos_url %>';" onmouseover="displayDropDown('classes_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333';  document.getElementById('skill_level_all').style.color='#333333';this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('skill_level_all').style.color='#999999';">
          <%= link_to 'All Skill Levels', videos_path, :style => "color: inherit;", :id => "skill_level_all" %>
        </div>
      </div>

      <div style="cursor: pointer; color: #999999;" id="menu_item" onmouseover="displayDropDown('classes_menu','block',''); this.style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999';" onclick="$('#instructor_sub_menu').toggle('blind');imageChange('/images/nav-plus.gif;/images/nav-minus.gif','menu_image_instructors');">
        <img id="menu_image_instructors" src="/images/nav-plus.gif" width="9" height="9"> Instructors
      </div>

      <!-- Classes > Instructor SubMenu -->
      <div id="instructor_sub_menu" class="sub_menu_box" style="display: none;">
        <% Instructor.all(:order => "name asc").each do |instructor| %>
          <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href = '<%= search_videos_url(:instructors => [instructor.id])%>';" onmouseover="displayDropDown('classes_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('instructor_<%= instructor.id %>').style.color='#333333';" this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('instructor_<%= instructor.id %>').style.color='#999999';">
            <%= link_to instructor.name.titleize, search_videos_path(:instructors => [instructor.id]), :style => "color: inherit;", :id => "instructor_#{instructor.id}"  %>
          </div>
        <% end %>
        <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href ='<%= videos_url %>';" onmouseover="displayDropDown('classes_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('instructor_all').style.color='#333333';" this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('instructor_all').style.color='#999999';">
          <%= link_to 'All Instructors', videos_path, :style => "color: inherit;", :id => "instructor_all" %>
        </div>
      </div>

      <div style="cursor: pointer; color: #999999;" id="menu_item" onmouseover="displayDropDown('classes_menu','block',''); this.style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999';" onclick="$('#focus_sub_menu').toggle('blind');imageChange('/images/nav-plus.gif;/images/nav-minus.gif','menu_image_99');">
        <img id="menu_image_99" src="/images/nav-plus.gif" width="9" height="9"> Focus
      </div>

      <div id="focus_sub_menu" class="sub_menu_box" style="display: none;">
        <% VideoFocusCategory.find(:all, :order => 'name ASC').each do |vfs| %>
          <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href = '<%= search_videos_url(:video_focus => vfs.video_focuses.collect { |vf| vf.id })%>';" onmouseover="displayDropDown('classes_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('vfs_<%= vfs.id %>').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('vfs_<%= vfs.id %>').style.color='#999999';">
            <%# A TODO. %>
            <%= link_to vfs.name.titleize, search_videos_path(:video_focus => vfs.video_focuses.collect { |vf| vf.id }), :style => "color: inherit;", :id => "vfs_#{vfs.id}"  %>
          </div>
        <% end %>
      </div>

      <div style="cursor: pointer; color: #999999;" id="menu_item" onclick="window.location.href ='<%= videos_url %>';" onmouseover="displayIndexDropDown('classes_menu','block',''); this.style.color='#333333'; document.getElementById('show_all_classes').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('show_all_classes').style.color='#999999';">
        <%= image_tag 'bullet_green.gif', :class => 'bullet' -%> <%= link_to 'Show All Classes', videos_path, :style => "color: inherit", :id => "show_all_classes" %>
      </div>

      <div style="cursor: pointer; color: #999999;" id="menu_item" class="free_class" onclick="window.location.href ='<%= videos_url %>';" onmouseover="displayIndexDropDown('classes_menu','block',''); this.style.color='#333333'; document.getElementById('show_all_classes').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('show_all_classes').style.color='#999999';">
        <%= image_tag 'icon_logo.gif' -%> <%= link_to "This week's free class", this_weeks_free_video_videos_path %>
      </div>

      <div class="yoga_menu_bottom_box"><img src="/images/nav-menu-bg-bottom.gif" width="290" height="2" /></div>
    </div>

    <!-- Community SubMenu -->
    <div style="display: none;" id="community_menu" class="yoga_drop_down_menu" onmouseout="displayDropDown('community_menu','none','');">
      <div id="menu_row1" onmouseover="displayDropDown('community_menu','block','');">
        <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href ='http://blog.yogatoday.com/';" onmouseover="displayDropDown('community_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('blog').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('blog').style.color='#999999';">
          <%= link_to 'Blog', 'http://blog.yogatoday.com/', :style => "color: inherit;", :id => "blog" %>
        </div>
        <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href ='<%= promotions_and_events_url %>';" onmouseover="displayDropDown('community_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('events').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('events').style.color='#999999';">
          <%= link_to 'Events', promotions_and_events_path, :style => "color: inherit;", :id => "events" %>
        </div>
        <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href ='<%= user_stories_url %>';" onmouseover="displayDropDown('community_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('story').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('story').style.color='#999999';">
          <%= link_to 'Tell Us Your Story', user_stories_path, :style => "color: inherit;", :id => "story" %>
        </div>
        <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href ='<%= contact_url %>';" onmouseover="displayDropDown('community_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('suggestions').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('suggestions').style.color='#999999';">
          <%= link_to 'Suggestions', contact_path, :style => "color: inherit;", :id => "suggestions" %>
        </div>
      </div>
      <div class="yoga_menu_bottom_box"><img src="/images/nav-menu-bg-bottom.gif" width="290" height="2" /></div>
    </div>

    <!-- Learn More SubMenu -->
    <div style="display: none;" id="learn_more_menu" class="yoga_drop_down_menu" onmouseout="displayDropDown('learn_more_menu','none','');">
      <div id="menu_row1" onmouseover="displayDropDown('learn_more_menu','block','');">
        <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href ='<%= get_started_today_url %>';" onmouseover="displayDropDown('learn_more_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('get_started').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('get_started').style.color='#999999';">
          <%= link_to 'Get Started Today', get_started_today_path, :style => "color: inherit;", :id => "get_started" %>
        </div>
        <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href ='<%= instructors_url %>';" onmouseover="displayDropDown('learn_more_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('instructors').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('instructors').style.color='#999999';">
          <%= link_to 'Instructor Biographies', instructors_path, :style => "color: inherit;", :id => "instructors" %>
        </div>
        <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href ='<%= press_and_news_url %>';" onmouseover="displayDropDown('learn_more_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('press').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('press').style.color='#999999';">
          <%= link_to 'Press & News', press_and_news_path, :style => "color: inherit;", :id => "press" %>
        </div>
        <div style="cursor: pointer; color: #999999;" id="sub_menu_item" onclick="window.location.href ='<%= faqs_url %>';" onmouseover="displayDropDown('learn_more_menu','block',''); this.style.backgroundColor='#dcddde';this.style.color='#333333'; document.getElementById('faqs').style.color='#333333'; this.style.cursor='Pointer';" onmouseout="this.style.backgroundColor='';this.style.color='#999999'; document.getElementById('faqs').style.color='#999999';">
          <%= link_to 'Help', faqs_path, :style => "color: inherit;", :id => "faqs" %>
        </div>
      </div>
      <div class="yoga_menu_bottom_box"><img src="/images/nav-menu-bg-bottom.gif" width="290" height="2" /></div>
    </div>

  </div> <!-- end of #show_no_menu -->
</div> <!-- end of #menu_content -->
