  <div id="main">
    <div id="container_4col" style="float:left;">
      <div id="video_banner">
        <object width="622" height="400" id="delve_player827411o" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://assets.delvenetworks.com/player/loader.swf"/><param name="wmode" value="opaque"/><param name="allowScriptAccess" value="always"/><param name="allowFullScreen" value="true"/><param name="flashvars" value="playerForm=f2dfe9b43972411ca10826cb5779f82b&amp;channelId=2bc02e0995ee4e6e9fb62512a41af408"/><embed src="http://assets.delvenetworks.com/player/loader.swf" name="delve_player827411e" wmode="opaque" width="622" height="400" allowScriptAccess="always" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="playerForm=f2dfe9b43972411ca10826cb5779f82b&amp;channelId=2bc02e0995ee4e6e9fb62512a41af408"></embed></object>
      </div>
    </div>

    <div id="get_started_ambassador">

      <div class="welcome">
        <h3>Welcome to Yoga Today</h3>
        <p>You've been invited to a free trial membership by Yoga Today Ambassador:</p>

        <% if @ambassador_user %>
          <div class="ambassador_agent_id">
            <span><%= @ambassador_user.ambassador_name %></span>
          </div>
        <% else %>
          <div class="ambassador_assign">
            <input type="text" class="input"></input>
            <input type="image" src="/images/get_started_button_submit.png" class="submit"></input>
          </div>
        <% end %>
      </div>

      <% form_tag new_user_path do %>
        <% if @ambassador_user %>
          <div class="prepaid_selection">
            <h3>Try Yoga Today for 2 weeks</h3>
            <p>Choose one of our prepaid memberships, and your first two weeks are free. Cancel any time.</p>
            <fieldset>
              <label><%= radio_button_tag 'membership', 'Premium Trial', @billing_cycle == 'Premium Trial' %> Yoga Today 365 <span>A full year for just $89.95 - saves you 25%</span></label>
              <label><%= radio_button_tag 'membership', 'Spring Signup Special Trial', @billing_cycle == 'Spring Signup Special Trial' %> Spring Signup Special <span>Four months for $39.95 - saves you 20%</span></label>
            </fieldset>
          </div>
        <% end %>

        <fieldset class="user_type">
          <% #image_tag("/images/get_started_button_continue-with-sign-up.png") %>
          <label>I'm new <%= submit_tag 'Get started' %></label>
          <label>I'm a returning user <%= link_to image_tag("/images/get_started_button_continue-with-login.png"), new_session_path %></label>
        </fieldset>
      <% end %>

    </div>

    <div id="get-started-box" style="display: none;">
      <h1 id="get-started-title">Get Started Today</h1>
      <p><span>Discover a new way to do yoga.</span>
      Search, stream, and download from our library of over 200 one-hour video classes –in settings that harmonize with the postures and at the level and intensity that’s best for you.</p>
      <p>Much more than a convenient practice, Yoga Today is a growing community where you can immerse yourself in a lifestyle of health and wellbeing.</p>
      <p>Interact with our expert instructors,
      expand your practice online, and discover the place where yoga lives today and everyday.</p>
    </div>

    <div id="get_started_featured_ad" style="display: none;">
      <%= link_to image_tag('featured_ad_spring-special.png'), sign_up_path(:membership => 'free'), {:title => 'Sign Up'} %>
    </div>
    <div id="main_content" style="overflow: visible;">

      <div id="container_6col" class="get_started_infoboxes" style="float: left;">
        <div class="get_started_free">
          <%= image_tag( 'gettingstarted_free.png', :alt => 'Free Membership' ) -%>
          <ul>
            <li>Watch our weekly Free Class</li>
            <li>Discuss, rate, and review classes</li>
            <li>Receive our E-mail Newsletter</li>
            <li>Save your lineup in My Yoga Queue</li>
          </ul>
          <%= link_to_function(image_tag('getstarted_free_showdetails.png', :alt => 'Show Details', :class => 'getstarted_details'), "togglePopup(this, 'free')", {:class => 'toggle_link', :title => 'Show Details'}) -%>
          <div class="popup" style="display: none;">
            <div>
              <p>Every week, Yoga Today delivers a free, one-hour, streaming yoga class. If you're new to Yoga Today, this is a great first-step and an easy way to get started.</p>
              <p>It takes about 30 seconds to become a Free Member, and all we ask is that you sign up using your email address to create a basic user profile.</p>
              <p>Because Yoga Today is a community, we ask that you to share your thoughts. Post discussion topics, rate and review classes, and offer suggestions to help others.</p>
              <p>Listening to your feedback is how we make Yoga Today better for everyone! When you find a class you like, add it to your shopping cart and it's yours to download for only $3.99. Sign Up today!</p>
            </div>
          </div>
          <%= link_to image_tag('button_getstarted_free.png', :alt => 'Sign Up'), sign_up_path(:membership => 'free'), :class => 'getstarted_button', :title => 'Sign up today' %>
        </div>
        <div class="get_started_download">
          <%= image_tag( 'gettingstarted_download.png', :alt => 'Free Membership' ) -%>
          <ul>
            <li>Save full one-hour classes on your computer or mobile device in MP4 format.</li>
            <li>Free Member rate $3.99</li>
            <li>Unlimited Member rate $2.99</li>
          </ul>
          <%= link_to_function(image_tag('getstarted_download_showdetails.png', :alt => 'Show Details', :class => 'getstarted_details'), "togglePopup(this, 'download')", {:class => 'toggle_link', :title => 'Show Details'}) -%>
          <div class="popup" style="display: none;">
            <div>
              <p>In response to your feedback, we've compiled an entire library of outdoor classes and made them available for searching and downloading.</p>
              <p>Our class search engine delivers results based on your preferences and allows you to narrow your selection by level, instructor, focus, and style.</p>
              <p>When you find a favorite, add it to your Yoga Queue. As a Free or Unlimited Member your Queue is saved, so you can continually add classes and return to them at any time.</p>
              <p>If you find a favorite, you can download any class for $3.99 ($2.99 if you’re an Unlimited Member), so you can practice yoga anywhre without the need of an Internet connection.</p>
            </div>
          </div>
          <%= link_to(image_tag('button_getstarted_download.png', :alt => 'Search the Library'), videos_url, {:class => 'getstarted_button', :title => 'Search the Library'}) %>
        </div>
        <div class="get_started_unlimited">
          <%= image_tag( 'gettingstarted_unlimited.png', :alt => 'Free Membership' ) -%>
          <ul>
            <li>Watch any class any time on our streaming player</li>
            <li>Totally ad-free</li>
            <li>Special download rate $2.99</li>
          </ul>
          <%= link_to_function( image_tag('getstarted_unlimited_showdetails.png', :alt => 'Show Details', :class => 'getstarted_details'), "togglePopup(this, 'unlimited')", {:class => 'toggle_link', :title => "Show Details"}) -%>
          <div class="popup" style="display: none;">
            <div>
              <p>The Unlimited Membership was designed for those who make yoga practice a part of everyday life. Subscribers enjoy ad-free streaming access to the entire Yoga Today library of over 200 one-hour classes</p>
              <p>As an Unlimited Member, you can practice with Adi, Neesha, and Sarah, as often as you like using our full-screen, streaming player. For subscribers, the Yoga Queue is especially useful. As you search the library, add classes to your Queue to build your own lineup of one-hour workouts.</p>
              <p>Subscribe at $9.99/month or save 25% when you opt for a full year of Yoga Today at $89.95. Subscribers enjoy a discounted download rate of only $2.99 per class.</p>
            </div>
          </div>
          <%= link_to image_tag('button_getstarted_unlimited.png', :alt => 'Sign Up'), subscription_users_path(:membership => '12'), :class => 'getstarted_button', :title => 'Subscribe to Yoga Today' %>
        </div>
      </div>

    </div>

  </div>
</div>


<script type="text/javascript">
  function togglePopup(link_element, option) {
    // Update the button first
    var current_image = jQuery(link_element).children()[0];
    var current_image_path = current_image.src.split('/');
    var current_image_name = current_image_path[current_image_path.length-1];

    if (current_image_name == 'getstarted_'+ option +'_showdetails.png') {
      current_image.src = '/images/getstarted_'+ option +'_hidedetails.png';
    } else if (current_image_name == 'getstarted_'+ option +'_hidedetails.png') {
      current_image.src = '/images/getstarted_'+ option +'_showdetails.png';
    } else {
      current_image.src = '/images/getstarted_'+ option +'_hidedetails.png';
    }
    // Toggle the display of the popup itself
    jQuery(link_element).parent().children('.popup').toggle();

  }
</script>