<% title 'Step 2 - Confirm Your Order' %>
<div id="main">
     <div id="page_container">
      <div id="page_information">
        <div id="main_title" class="arial18_green">Step 2 of 3 - Confirm your order.</div>
      </div>
    </div>
    <div id='container_6col'>
      <% if @cart_invalid %>
      <p>Your cart was modified -- you may have added or removed items from this cart in another browser window, or tab. The confirmation page has been updated
      to let you review your current purchase. Please check for any unapproved changes before confirming this purchase.</p>
      <% end %>
      <% if flash[:purchase_problem] %>
        <p><strong>There was a problem with your order: <%= flash[:purchase_problem] %></strong></p>
        <p><strong>Please contact <%= mail_to 'sales@yogatoday.com' %> if you cannot complete this order and we will be happy to help!</strong></p>
      <% end %>
      <p>
        Your current order is below. If you would like to add or remove items, please visit <%= link_to 'your shopping cart', cart_path(:confirm_purchase => true) %> right now.
      </p>
      <p>If you need to change your credit card details, please <%= link_to 'click here', checkout_path %>.</p>
      <p>You are currently using a <strong><%= current_purchase.credit_card.type.titleize %> card, # <%= current_purchase.credit_card.display_number %></strong></p>
    </div>
    <div style="clear: both;" id="header_6col" class="arial13_bold_gray">
      <div style="float: left;" id="container_1col">
        Item
      </div>
      <div style="padding-left: 10px; float: left;"><img height="1" width="1" src="images/spacer.gif"/></div>
      <div style="float: left;" id="container_4col">
        Description
      </div>
      <div style="float: right; text-align: right;" id="container_1col">
        Price
      </div>
    </div>


    <div id="main_content">
      <div style="float: left;" id="container_6col">
      <% unless shopping_cart.has_valid_products? %>
      <div id="message">
        Some items in your shopping cart no longer exist. These items are:
        <ul>
        <% shopping_cart.invalid_cart_items('Video').each do |item| %>
          <li>
            <%= item.name %>
          </li>
        <% end %>
        </ul>
        They will not be added to your total, and you will not be able to purchase these items.
      </div>
      <% end %>
      <%= render :partial => 'video', :collection => shopping_cart.videos, :locals => { :modifiable => false } %>        


        <div style="height: 70px;" class="results_row">
          <div style="float: right;" id="container_2col">
            <div style="float: left; text-align: right; line-height: 160%;" id="container_1col">
              Sub-total<br/>
              Taxes<br/>
              <span class="arial16_bold_gray">Total</span>
            </div>

            <div style="float: left;" class="grid_spacer">
              <img height="50" width="20" src="/images/spacer.gif"/>
            </div>

            <div style="float: left; text-align: right; line-height: 160%;" id="container_1col" class="arial13_bold_green">              
              <span id="cart_subtotal"><%= number_to_currency(shopping_cart.subtotal.to_dollars) %> </span><br/>
              <span id="cart_taxes"><%= number_to_currency(shopping_cart.taxes.to_dollars) %> </span><br/>
              <span id="cart_total" class="arial16_bold_green"><%= number_to_currency(shopping_cart.total.to_dollars) %></span>
            </div>
          </div>
        </div>

 		<div class="results_row">
          <div style="float: right; text-align: right; margin-right: 3px;" id="container_1col">
            <%= button_to 'Confirm purchase', confirm_purchase_path, :class => 'bigger_button' %>
          </div>
        </div>
      </div>
    </div>
  </div>
