<%= render :partial => 'submenu' %>
<table class="active-scaffold">
  <thead>
    <tr>
      <th><%= link_to 'User', admin_ambassador_referrals_path(:order => 'name') %></th>
      <th><%= link_to 'Ambassador Name', admin_ambassador_referrals_path(:order => 'ambassador_name') %></th>
      <th><%= link_to 'Email Address', admin_ambassador_referrals_path(:order => 'email') %></th>
      <th><%= link_to 'Visits', admin_ambassador_referrals_path(:order => 'visits',
        :desc => true) %></th>
      <th><%= link_to 'Paid Conversions', admin_ambassador_referrals_path(:order => 'points_earned',
        :desc => true) %></th>
      <th><%= link_to 'Free Conversions', admin_ambassador_referrals_path(:order => 'free_conversions',
        :desc => true) %></th>
      <th><%= link_to 'Member Since', admin_ambassador_referrals_path(:order => 'created_at',
          :desc => true)  %></th>
    </tr>
  </thead>
  <% @ambassadors.each do |ambassador| %>
    <tr class="record">
      <td><%= ambassador.name %></td>
      <td><%= ambassador.ambassador_name %></td>
      <td><%= ambassador.email %></td>
      <td><%= ambassador.visits %></td>
      <td><%= ambassador.points_earned %></td>
      <td><%= ambassador.free_conversions %></td>
      <td><%= ambassador.account.created_at %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @ambassadors %>