<%= render :partial => 'submenu' %>
<div>
	Average purchase amount: <%= number_to_currency((BillingTransaction.average('amount', :conditions => { :billing_type => 'Purchase' }) || 0) / 100.0) %>
</div>
<div>
	Total active subscriptions: <%= @total_active_subscriptions %>
</div>
<div>
	Total cancelled subscriptions: <%= @cancelled_subscriptions %>
</div>
<div>
	<h2>Revenue</h2>
	2 months ago: <%= number_to_currency((BillingTransaction.sum('amount', :conditions => { :created_at => (2.month.ago..1.month.ago) }) || 0) / 100.0) %>
	<br />
	Past 30 days: <%= number_to_currency((BillingTransaction.sum('amount', :conditions => { :created_at => (1.month.ago..DateTime.now) }) || 0) / 100.0) %>
	<br />
</div>
<div>
	<h2>Subscribers</h2>
	2 months ago: <%= @last_month_subscribers %>
	<br />
	Past 30 days: <%= @this_month_subscribers %>
</div>
